[2021-01-26 15:37] awantika10 opened #1 "Glassmorphism UI Design"
**Idea :** We are probably planning to design innovative ideas which solve our day- to day problems. Any such problem which we face can be well - explained through **Glassmorphism UI**. Contributours are welcomed to propose their ideas.

**Requirements :** We will be working on any one such real-world problems and will be creating wireframes, low - high fidelity mockups, prototypes etc.

**Softwar

[2021-01-26 15:38] awantika10 opened #2 "Neumorphism UI Design"
**Idea :** We are probably planning to design innovative ideas which solve our day- to day problems. Any such problem which we face can be well - explained through **Neumorphism UI**. Contributours are welcomed to propose their ideas.

**Requirements :** We will be working on any one such real-world problems and will be creating wireframes, low - high fidelity mockups, prototypes etc.

**Software

[2021-01-26 15:39] awantika10 opened #3 "3D Animations and Illustrations"
Try making some amazing illustrations and animations

[2021-02-19 06:38] thaditi commented on #1
Hey @awantika10.  I would like to contribute to this as part of GSSoc'21.

[2021-02-19 06:58] awantika10 commented on #1
Hey @thaditi Kindly join our discord server for further discussion :)

[2021-02-19 07:06] Tejas-r281 commented on #3
hi @awantika10  what is issue,  can you please elaborate here ?

[2021-02-19 07:09] awantika10 commented on #3
Hey @Tejas-r281 Kindly join the discord server for further communication :)

[2021-02-19 07:17] thaditi commented on #1
Sure. Thanks

[2021-02-19 07:26] Tejas-r281 commented on #3
Link?

On Fri, Feb 19, 2021, 12:39 Awantika Nigam <notifications@github.com> wrote:

[2021-02-19 07:31] awantika10 commented on #3
Here it is : https://discord.gg/CQFj8AQ4vq

[2021-02-19 08:53] Tejas-r281 commented on #3
it is giving  unable to accept invite

On Fri, Feb 19, 2021 at 1:01 PM Awantika Nigam <notifications@github.com>
wrote:

[2021-02-19 14:50] aritrochakraborty29 commented on #1
Hey.. @awantika10  ..I would like to contribute in this part...

[2021-02-19 15:06] awantika10 commented on #1
Hey @aritrochakraborty29 Kindly join the discord server for further discussion :)

[2021-02-25 08:30] Dev-anuj commented on #1
joined discord, when it will start!

[2021-02-25 10:53] awantika10 commented on #1
Kindly ask your queries in discord channnel

[2021-02-26 11:15] kunal299 commented on #2
@awantika10 Hi, I am new here. I read the overview of your project and would love to contribute to this project. Could you please provide me more details about the app/website that we are trying to create and what services do the app provides. For some context regarding me : I have been exploring neumorphism and I am fascinated by it.

[2021-02-26 14:40] awantika10 commented on #2
Hey @kunal299 kindly join our discord channel for further discussion :)

[2021-02-27 03:05] SaraLatif99 commented on #2
Hi @awantika10  I am a GSSoc'21 participant, I am interested in this project and would love to contribute to this project, how may I proceed further? I've already joined Discord for GSSoc but I didn't find any channels? can you please guide me?
Many Thanks

[2021-02-27 05:14] awantika10 commented on #2
Hi @SaraLatif99 Kindly join our Desgen GSSOC'21 discord channel. Link : https://discord.gg/nhRVW5GXFV

[2021-02-27 15:10] KrishSavani commented on #2
Hey! @awantika10 I would like to know more about this issue and contribute to this project.
P.S: I already joined the discord server.

[2021-02-27 15:20] awantika10 commented on #2
@KrishSavani  We will be having a meet on 28th. Please check discord announcement

[2021-03-05 08:50] disha1202 commented on #2
Hello,
I am a Gssoc participant and I would like to work on this issue.

[2021-03-05 09:41] anirudhsai20 opened #5 "Enhancement of README.md file"
The README.md file can be further enhanced by adding a list of all its contributors. Also the code of conduct for contributing to this project has to be mentioned.

[2021-03-05 09:42] anirudhsai20 commented on #5
Hi @awantika10 . Please allow me to work on this issue under GSSOC.

[2021-03-05 10:28] awantika10 commented on #5
Hey @anirudhsai20 You work on this issue after the coding period . Kindly join the discord channel for further discussion :)

[2021-03-05 10:34] awantika10 commented on #2
@disha1202 Kindly join the discord channel for further discussion :)

[2021-03-06 15:24] Chadha93 commented on #2
Working on Wireframes using neumorphism on this issue

[2021-03-07 13:02] vkassingh commented on #1
I would like to work on this issue by designing an app for covid19 vaccine registration using glassmorphism.
 please assign it to me.

[2021-03-07 13:07] awantika10 commented on #1
@vkassingh Please update your idea here

[2021-03-07 13:08] awantika10 commented on #2
@Chadha93 Please update your idea here

[2021-03-07 13:08] kunal299 commented on #1
@awantika10 I would also like to work on this issue with @vkassingh. Could you please assign me also?

[2021-03-07 13:10] vkassingh commented on #1
Here is the user flow of my idea.
https://www.figma.com/file/7oCF0yFoEK6ZCis9hbhe7O/Vaccine-Registration-app?node-id=0%3A1

[2021-03-07 16:54] Chadha93 commented on #2
https://www.figma.com/file/F4DecTqh8rDmUJQgntTlfQ/Medicine-Check-app-userflow?node-id=0%3A1

[2021-03-08 09:15] haripriya9647 commented on #5
Hey can I work on this issue??

[2021-03-08 09:24] awantika10 commented on #5
@anirudhsai20 is working on it @haripriya9647. If he doesn't then I'll assign it to you

[2021-03-08 15:53] VishalPatil18 commented on #1
Hey, @awantika10 can you describe the prime objective? As in do we just have to make the design or do we also have to code it in HTML CSS JS? Also would appreciate contributing to this project under GSSoC'21. Thanks!

[2021-03-08 16:05] DevrajDC opened #6 "Microinteractions"
Microinteractions are the perfect proof that details and attention to them might greatly improve the overall user experience of your digital products and place them on the next/higher level.

[2021-03-08 16:28] awantika10 commented on #1
@SpecTEviL We are probably planning to design innovative ideas which solve our day- to day problems. Any such problem which we face can be well - explained through UI.
For example : Designing a application that makes it safe to find the ideal roommate in a new city or designing a file management system accessed and organised through Virtual Reality, etc. We will be designing such problems using gl

[2021-03-08 16:32] awantika10 commented on #6
Hey @DevrajDC Could you please elaborate your idea for microinteractions? Also, which idea or topic you wish to design using microinteractions.

[2021-03-08 16:32] VishalPatil18 commented on #1
Got it. Thanks! I Will work on this if you can assign it to me. Or else I'll make a PR once I'm done. Whichever is preferable to you guys. Thanks.

[2021-03-08 16:47] DevrajDC commented on #6
Microinteractions as in use of Lottie animations, interactive animations etc. Which increases users experience on the site. The topic i haven't decided yet, but if anyone suggests a good topic we can integrate microinteractions to it.

[2021-03-08 19:28] micksharma commented on #3
Can I work on this issue ?

[2021-03-08 19:34] micksharma commented on #2
@awantika10 I have an experience in making UI on Adobe XD. I  make it. Can you assign it to me.

[2021-03-08 21:02] weebo-ary commented on #6
Sure we will look into this IDEA once we research on it !!
Thank you for this Idea !!!

[2021-03-08 22:08] SHITIZ-AGGARWAL opened #8 "Feat: Add new Ideas for Desgen"
**Description**

We want innovative ideas for Desgen
( Innovative ideas which solve our day to day problems or major problems of society.
We will try to solve these problem with designing )

eg: Designing a application that makes it safe to find an ideal roommate in a new city

**FIRST COMMENT ON THE ISSUE BEFORE MAKING A PR ASKING IF YOU CAN MAKE A PR FOR THIS IDEA, WE WILL TELL YOU IF YOU CAN MA

[2021-03-09 03:34] deek121477 commented on #8
Hey, I would love to contribute to this issue . Could you plz assign me?

[2021-03-09 03:53] rohank2502 commented on #8
Will like to work under your guidance !!

[2021-03-09 04:18] chiragagrawal9200 commented on #8
I would love to contribute to this project . Please could you take me in?

[2021-03-09 04:21] chiragagrawal9200 commented on #3
I would love to work on this issue!  @awantika10 could you please assign this to me?

[2021-03-09 04:30] rohan-kulkarni-25 opened #9 "Update Bio Section"
**What is your feature request related to ?**

- [ ] Documentation

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)
I am requesting to update the bio section in About tab this will help users to know more about us !!

**Describe the solution you'd like**
A description of the solution you would suggest i

[2021-03-09 04:49] SHITIZ-AGGARWAL commented on #8
@deek121477 and @chiragagrawal9200 you can start working on this  and make a Pr .This is an open issue , no need of assigning

[2021-03-09 04:57] SHITIZ-AGGARWAL commented on #5
@anirudhsai20 please give an update regarding this and brief about how you are going to update the readme

[2021-03-09 04:59] awantika10 commented on #2
@micksharma I have already assigned the issue

[2021-03-09 05:01] anirudhsai20 commented on #5
Hi @SHITIZ-AGGARWAL . I am almost done and I will be making a pull request in another half an hour. As I mentioned earlier I am going to make a beautiful and neat display of contributors.

[2021-03-09 05:05] micksharma commented on #2
Yeah , but I also have skills to solve this issue.

[2021-03-09 05:05] SHITIZ-AGGARWAL commented on #6
@DevrajDC closing this issue, will raise an issue regarding this  once the idea is confirmed , you can let us know if you want to work on documentation and designing regarding this issue

[2021-03-09 05:06] #6 closed, assigned to nobody

[2021-03-09 05:08] SHITIZ-AGGARWAL commented on #3
@micksharma and @chiragagrawal9200 assigning the issue to you both. Please give an update of your work once in every 3 days

[2021-03-09 05:21] SHITIZ-AGGARWAL commented on #9
We will look into this , thank you for raising the issue

[2021-03-09 05:22] #9 closed, assigned to nobody

[2021-03-09 05:24] rohan-kulkarni-25 commented on #9
Please assign it to me if raised

On Tue, Mar 9, 2021, 10:51 AM SHITIZ AGGARWAL <notifications@github.com>
wrote:

[2021-03-09 05:37] SHITIZ-AGGARWAL commented on #9
sure

[2021-03-09 05:38] rohan-kulkarni-25 commented on #9
👍🏻

On Tue, Mar 9, 2021, 11:07 AM SHITIZ AGGARWAL <notifications@github.com>
wrote:

[2021-03-09 06:14] chiragagrawal9200 commented on #3
@awantika10 Thank you. Sure...

[2021-03-09 06:23] Chadha93 commented on #2
![Raw userflow](https://user-images.githubusercontent.com/65453826/110426098-7c79b700-80cb-11eb-840a-d7fdb29385f2.jpg)
This is just the complete raw user flow based on this the final prototype will be made
A pull request containing the necessary resources (Figma file) has made

[2021-03-09 07:20] Sloth-Panda opened #12 "welcome bot integration"
**What is your feature request related to ?**

- [x] Desgen Website
- [ ] Designing
- [x] Documentation
- [x] Others[please specify like testing, code etc]

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)
This bot basically greets someone when he/she opens an issue or makes a pr for the first time in th

[2021-03-09 07:22] Sloth-Panda commented on #12
@awantika10 can I work on this?

[2021-03-09 09:50] #5 closed, assigned to anirudhsai20

[2021-03-09 11:23] srisatya12 commented on #12
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:10] Sloth-Panda commented on #12
@srisatya1197 make your own issues before asking to get assigned.

[2021-03-09 15:42] SHITIZ-AGGARWAL commented on #12
@Sloth-Panda Thank you for raising the issue , for now we are keeping the issues related  to designs or the issues which are more relevant to the project since this month is open for all and a lot of things are going on . For now this issue will be closed ,we will open it in future if required.  Also there are no restrictions that only the person who created the issue will work on that, other peop

[2021-03-09 15:42] #12 closed, assigned to nobody

[2021-03-09 16:14] soumyavemuri opened #21 "Feat: RE: Idea.md file -> Ideas Folder"
## Maintain Ideas in a separate directory ##

- [ ] Desgen Website
- [ ] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
After going through the ideas.md template, and viewing few of the pull requests already present, I believe that with more ideas coming up, maintaining them all in one file will be hard to navigate through, as well as read. Mergi

[2021-03-09 17:37] nNikita1018 commented on #21
Hey, I want to contribute in this project by working with issue.
Please assign me

[2021-03-10 04:28] YasviPatel commented on #2
hii,@awantika10 I am participate of GSSoC'21 would like to know more about this issue and contribute to this project.

[2021-03-10 07:34] awantika10 commented on #2
@YasviPatel @Chadha93  is working on the issues. Kindly looks for other issues to contribute :)

[2021-03-10 07:35] awantika10 commented on #1
@vkassingh @kunal299  Please update with your wireframes

[2021-03-10 07:57] kunal299 commented on #1
one frame is left. We will add it.
![image](https://user-images.githubusercontent.com/71486434/110595715-612eaa80-81a4-11eb-86e3-860553eab432.png)

[2021-03-10 07:58] kunal299 commented on #1
@awantika10 I have shared the wireframes. Check it out.

[2021-03-10 08:12] sushant1824 commented on #3
i m intersted can u assign me

[2021-03-10 08:15] gritika18 commented on #3
Hii @awantika10 I would like to work on this issue. Can you please assign it to me? Also it would be helpful for me if you could elaborate it here

[2021-03-10 12:03] FireQueen-3010 commented on #8
Hi, I would like to work on this as well!

[2021-03-10 12:32] weebo-ary commented on #8
Ask in the conversation before making any PR.

[2021-03-10 12:33] weebo-ary commented on #3
Ask in the conversation before making any PR.

[2021-03-10 12:33] weebo-ary commented on #2
Ask in the conversation before making any PR.

[2021-03-10 12:34] weebo-ary commented on #1
Ask in the conversation before making any PR.

[2021-03-10 13:17] SHITIZ-AGGARWAL commented on #21
@soumyavemuri let's discuss this on discord in #issue-discussion first , if required then we can tell you to raise an issue and you can work on it

[2021-03-10 13:17] SHITIZ-AGGARWAL commented on #21
closing the issue for now

[2021-03-10 13:18] #21 closed, assigned to nobody

[2021-03-10 14:18] Yaji16 commented on #8
I wish to work on this issue.

[2021-03-10 14:22] Yaji16 commented on #3
Hey! @awantika10 does the illustrations have a specific theme? I'm interest to work on this issue. Can you please assign it to me? Please do elaborate on the specifics of this issue, it would be of great help.

[2021-03-10 14:23] arnab031 commented on #8
Can I share my new ideas about cryptocurrency trading app? @SHITIZ-AGGARWAL @awantika10

[2021-03-10 14:41] aanya-trehan commented on #3
Hi @awantika10 ! I would love to work on this issue and create illustrations. Can this be assigned to me, please?

[2021-03-10 14:54] kanchi12P commented on #3
hey @awantika10
I want to work on this issue.
I love animations and would like to work on them.
Please assign it to me.

[2021-03-10 15:36] SHITIZ-AGGARWAL commented on #8
@Yaji16 @AkashChetia  please first ask about raising the pr in comments then make a pr when the mentors or project admin allow else merge conflicts will arise

[2021-03-10 15:49] AkashChetia commented on #8
@SHITIZ-AGGARWAL My bad! will make sure from next time.

[2021-03-10 16:29] arnab031 commented on #8
Sir, can I make pr? https://github.com/awantika10/Desgen/issues/8#issuecomment-795484253
@SHITIZ-AGGARWAL

[2021-03-10 16:29] SHITIZ-AGGARWAL commented on #8
@arnab031
sure go ahead
**Add it as idea 5**

[2021-03-10 16:51] awantika10 commented on #3
@micksharma @sushant1824 @Tejas-r281 @kanchi12P @gritika18 @chiragagrawal9200 This is an issue that is open to all. You can directly make a PRs as soon as you are finished which your illustrations. Also, illustrations can be of any domain. Please add your illustrations in designs folder as directed in contributing.md

[2021-03-10 17:07] ASLManasa commented on #8
Sir,can I make a Pr  #8(comment)
@SHITIZ-AGGARWAL

[2021-03-10 17:09] awantika10 commented on #8
Sure go ahead Add it as idea 6. Make sure your fork is updated after idea 5

[2021-03-10 17:09] SHITIZ-AGGARWAL opened #33 "Feat: Make UI for WE ARE SAFE !! application(idea-1)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for WE ARE SAFE !! application
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma, A

[2021-03-10 17:30] aashishah commented on #8
Hi, I'd like to contribute an app idea, can I make a PR?

[2021-03-10 17:31] SHITIZ-AGGARWAL commented on #33
@rohank2502 since this was your idea do you want to work on this ?

[2021-03-10 17:35] SHITIZ-AGGARWAL commented on #8
@ASLManasa You can make the pr now

[2021-03-10 17:36] SHITIZ-AGGARWAL commented on #8
@aashishah Sure, Add it as idea-7
You can make the pr after idea 6 is merged

[2021-03-10 17:38] rohan-kulkarni-25 commented on #33
@rohank2502  Ya it was my idea for sure but i am will not able to work on this issue as i dont have any idea for designing I just know frontend and cpp !! So it will be better if you assign this to someone who knows to design I will be happy to give him suggestion if needed so !!

[2021-03-10 17:40] SHITIZ-AGGARWAL commented on #33
Okay no problem 👍

[2021-03-10 17:58] ishu184 commented on #33
@SHITIZ-AGGARWAL I would love to work on this. As this would be my first attempt I hope I do my best. I am familiar with figma

[2021-03-10 18:10] SHITIZ-AGGARWAL commented on #33
Sure go ahead 👍  , if you face any problem you can refer the resources provided in the discord channel or ask from the project maintainers

[2021-03-10 18:12] SHITIZ-AGGARWAL commented on #33
@ishu184 Please mention the technology you will be using to solve this issue

[2021-03-10 18:17] SHITIZ-AGGARWAL opened #35 "Feat: Make UI for an application for elderly people(idea-2)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an application for elderly people
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like F

[2021-03-10 18:18] SHITIZ-AGGARWAL commented on #35
@sejalvasan do you want to work on this ?

[2021-03-10 18:36] SHITIZ-AGGARWAL opened #36 "Feat: Make UI for a Medicine check application(idea-3)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for a Medicine check application
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma,

[2021-03-10 20:25] sejalvasan commented on #35
No thank you, I am not good at designing you can assign it to others.

[2021-03-10 21:03] Ayushi7456 commented on #35
Hello, May I work on this design in a group of 2 or more?

[2021-03-10 21:09] cryptofox17 commented on #36
Could you assign this to me? I will be working on this using Figma

[2021-03-10 21:39] SHITIZ-AGGARWAL commented on #35
@Ayushi7456 Sure (Max-3)

@awantika10 is this fine?

[2021-03-10 21:42] SHITIZ-AGGARWAL commented on #36
@cryptofox17 Sure Go ahead
Please mention which technology you will be using like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-10 21:43] SHITIZ-AGGARWAL commented on #36
@Chadha93 you want to work on this issue since it was your idea ?

[2021-03-10 21:55] cryptofox17 commented on #36
@SHITIZ-AGGARWAL I was thinking of using Glassmorphism for this.
Also, I wanted to know how to I update the progess every three days? Do I need to do it here on the comments or discord?

Also, do this issue need to worked on as a team?

[2021-03-11 03:13] Chadha93 commented on #36
@SHITIZ-AGGARWAL yes I have already started working on it and I'm also ready with a raw user flow which I have also shown to @awantika10 and @weebo-ary

[2021-03-11 03:23] rohan-kulkarni-25 commented on #33
@ishu184  if you need any suggestion feel free to get connected !!

[2021-03-11 04:12] awantika10 commented on #35
Only 2 can participate at max @SHITIZ-AGGARWAL
@Ayushi7456  You can start working

[2021-03-11 04:14] awantika10 commented on #36
@cryptofox17 @Chadha93  You guys can collaborate and work together

[2021-03-11 04:16] Chadha93 commented on #36
ok @awantika10  you can assign me here as well @cryptofox17  please connect me on discord for further discussion regarding the project

[2021-03-11 04:17] awantika10 commented on #36
Yes you can work in teams @cryptofox17 And update about your designs here on the issue itself

[2021-03-11 04:18] awantika10 commented on #36
Also, I guess for your design two people are more than enough @cryptofox17 @Chadha93 Please collaborate on discord.

[2021-03-11 04:46] ASLManasa commented on #8
Sir, i have made a pr (idea-6)
@SHITIZ-AGGARWAL

[2021-03-11 05:03] ishu184 commented on #33
I want to explore  Glassmorphism so will go with that! we
doubt:
1) we have to use only one technology?
2) I have to make all the features mentioned above?

[2021-03-11 05:21] VishalPatil18 commented on #8
Hey @SHITIZ-AGGARWAL I'm Vishal Patil, a participant at GSSoC'21. I have an Idea can I make a PR? If yes please assign an idea number to me.
Thanks!

[2021-03-11 05:48] cryptofox17 commented on #36
@Chadha93 what's your username on discord? Mine is cryptofox#1638

[2021-03-11 05:52] Chadha93 commented on #36
Gaurav Chadha(P)#7374

[2021-03-11 06:07] jyotsana3108 commented on #8
Hey, I would love to contribute to this issue . I am participant of GSSOC-21. Could you please assign it to me?

[2021-03-11 06:47] vkassingh commented on #1
@SHITIZ-AGGARWAL @awantika10
We have made these 4 screens. But it is looking somewhat empty. Is there any way i can improve the design screen?

![2nd](https://user-images.githubusercontent.com/42089632/110746953-a0700080-8263-11eb-803d-cb1254fb166a.JPG)

[2021-03-11 06:52] aanya-trehan commented on #35
Hi @Ayushi7456, in case you haven't found a partner can we team up for this?

[2021-03-11 07:10] awantika10 commented on #8
Sure go ahead with idea -8 and update your fork after idea -7

[2021-03-11 07:11] aanya-trehan commented on #8
Hi! I am a participant of GSSoC'21, and I want to share my app idea! Can I please be assigned an idea number whenever possible? Thank you

[2021-03-11 07:11] awantika10 commented on #8
Add it as idea -9 please make a PR after idea -8 and update your fork

[2021-03-11 07:13] awantika10 commented on #8
Add it as idea -10 . Please update your fork after idea -9 and make your PR

[2021-03-11 07:16] SHITIZ-AGGARWAL commented on #8
@aashishah you can make the PR now as idea 7, Ides 6 is merged(remember to update your repo)

[2021-03-11 07:21] aashishah commented on #8
Yeah, just working on it please give me some time.

[2021-03-11 07:22] SHITIZ-AGGARWAL commented on #8
no problem 👍  take your time , just keep your  idea as much detailed as possible and add good features in it

[2021-03-11 07:28] Yaji16 commented on #8
Hey @SHITIZ-AGGARWAL , I would like to work on this issue. Please can you assign it to me?

[2021-03-11 07:55] aashishah commented on #8
Hey, I've made the PR.

[2021-03-11 08:25] ShreyaJindal commented on #8
I would like to make a PR, please assign me a number.

[2021-03-11 08:27] SHITIZ-AGGARWAL commented on #8
@Yaji16 sure
Add it as idea 11 . Please make a pr after idea 10 gets merged, and update your repo before making pr

[2021-03-11 08:29] SHITIZ-AGGARWAL commented on #8
@ShreyaJindal sure
Add it as idea 12 . Please make a pr after idea 11 gets merged, and update your repo before making pr

[2021-03-11 08:31] SHITIZ-AGGARWAL commented on #8
@SpecTEviL you can make the PR now as idea 8, Ides 7 is merged(remember to update your repo)

[2021-03-11 08:48] VishalPatil18 commented on #8
I've made the PR @SHITIZ-AGGARWAL. You can review it.
Thanks!

[2021-03-11 09:24] Ayushi7456 commented on #35
@awantika10 Ok Thankyou!
@aanya-trehan Yeah sure!

[2021-03-11 11:42] VishalPatil18 commented on #33
Hey @SHITIZ-AGGARWAL, Vishal Patil here and I would love to work with @ishu184 in this issue under GSSoC'21. If possible can you assign this to me also. Also, I have experience working with Glassmorphism so I can help @ishu184 in that.
Thanks!

[2021-03-11 11:48] FireQueen-3010 commented on #8
Hi, @SHITIZ-AGGARWAL , I am ready with an idea description, under what idea number can I make a pull request now?

[2021-03-11 12:06] awantika10 commented on #8
@FireQueen-3010 Please wait for some time. Till rest of the PRs and the ideas get merged

[2021-03-11 12:07] awantika10 commented on #33
You have to use glassmorphism only and all the features mentioned should be included.

[2021-03-11 12:07] awantika10 commented on #33
Sure go ahead and help @ishu184

[2021-03-11 12:08] FireQueen-3010 commented on #8
Yeah sure, Thank you.  Can I take idea 13, because the assigned are till 12 so that I can make a pr after 12 is merged? @awantika10
@SHITIZ-AGGARWAL

[2021-03-11 12:17] VishalPatil18 commented on #33
Will do it thanks!

@ishu184 you can connect with me on discord "Vishal Patil(P)#3640" or Linkedin https://www.linkedin.com/in/vishalrameshpatil.
Thanks!

[2021-03-11 13:33] jyoti-anjaly commented on #3
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 14:11] arnabiscreating commented on #33
Hello @awantika10
I have a doubt, is this a design work like I have to do it in Figma or AdobeXD or a frontend work (HTML, CSS, JS) ?
either way I want to contribute to this issue.
I am GSSOC21 participant.
Thank You.

[2021-03-11 14:28] arnabiscreating commented on #36
Hello @awantika10
I'd like to contribute to this issue. I'm a member of GSSOC21. Thank you very much.

[2021-03-11 15:00] richakumari19 commented on #3
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:01] SHITIZ-AGGARWAL commented on #33
You have to design it in figma or adobeXD

[2021-03-11 15:01] ShreyaJindal commented on #3
Where can I upload my illustrations? Do I have to make a PR?

[2021-03-11 15:02] SHITIZ-AGGARWAL commented on #33
But this issue have been assigned ,you can see other issues
More issues will be coming up today

[2021-03-11 17:06] ghost commented on #33
hello @SHITIZ-AGGARWAL can i work on this issue in Adobe XD

[2021-03-11 17:13] rohan-kulkarni-25 opened #47 "Will like to add the img of tech stack it will help in making readme attractive"
## Expected Behavior

This will help user to grasp the used technology in short span of time !! OK so this technologies are used in this project looks quite intresting

## Steps to Reproduce the Problem

1. We can add the badges to each in place of just names

Will start work on it as soon as get assigned !!

[2021-03-11 17:51] rohan-kulkarni-25 opened #49 "Update contributors.md"

[2021-03-11 17:58] #49 closed, assigned to nobody

[2021-03-11 19:33] Rayman-Sodhi commented on #8
Hi @SHITIZ-AGGARWAL   and @awantika10  I too have an idea. It would be really helpful if you can let me know when can I be assigned an idea number. I have the description in mind please let me know when can I raise a PR

[2021-03-11 21:26] weebo-ary commented on #47
Do you have any example.......like a photo or link, something like that. If yes, please share it here in the conversation.

[2021-03-11 21:28] weebo-ary commented on #36
Hey, @encodeArnab you can go ahead with this issue.

[2021-03-11 21:30] weebo-ary commented on #33
Hey @garvitraj , You can go ahead with this issue.

[2021-03-11 21:34] weebo-ary commented on #3
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:36] weebo-ary commented on #2
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:36] weebo-ary commented on #1
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:39] weebo-ary commented on #8
Hey @Rayman-Sodhi, Be ready with your idea we will let you know the number when the pending idea request will be merged. Kindly wait for sometime.

[2021-03-11 21:39] weebo-ary commented on #8
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:39] weebo-ary commented on #35
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:39] weebo-ary commented on #33
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-11 21:40] weebo-ary commented on #36
Announcement Regarding PR -
Before Making any Pull Request Kindly Ask in The Conversation because it can conflict our master branch.
You can ask to @awantika10 , @SHITIZ-AGGARWAL , @weebo-ary before making any PR weather on GitHub or Discord (On any Server).

[2021-03-12 02:44] rohan-kulkarni-25 commented on #47
yes I will share example of html here
<img alt="HTML5"  src="https://img.shields.io/badge/html5%20-%23E34F26.svg?&style=for-the-badge&logo=html5&logoColor=white"/>
Like this badges !

[2021-03-12 03:16] SubratYeeshu opened #50 "Feat: UI for app/web "EasyJobs""
**What is your feature request related to ?**

- [x] Desgen Website
- [X] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

@awantika10 / @SHITIZ-AGGARWAL Mam/Sir I would like to create UI/UX design for the app and web for Idea#11

[2021-03-12 06:08] vaishnavig20 commented on #8
Hey @awantika10.I would also like to contribute an idea.I am a GSSOC'21 participant

[2021-03-12 06:26] SHITIZ-AGGARWAL commented on #50
@SubratYeeshu I am creating issues for the same in detail , I will assign you there

[2021-03-12 06:26] shefali12-ab opened #53 "Designing Nav bar"
Hii,
I am one of participant of GSSOC'21. I would like to make the contribution by redesigning  Header, Nav Bar and footer of this website. Please, consider! And assign it to me so that I can start working on it at the earliest.
Thank you !!

[2021-03-12 06:26] #50 closed, assigned to nobody

[2021-03-12 06:29] SHITIZ-AGGARWAL commented on #53
@shefali12-ab The website is not made yet. You can work on designing the website first. I will raise issue for the same, you can comment there if you want to work

[2021-03-12 06:29] #53 closed, assigned to nobody

[2021-03-12 06:32] SHITIZ-AGGARWAL opened #54 "Feat: Make UI for an emergency traffic clear app (idea-4)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an emergency traffic clear app
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figm

[2021-03-12 06:33] shefali12-ab commented on #53
yes , I will work on desiging the website.

[2021-03-12 06:35] SHITIZ-AGGARWAL opened #55 "Feat: Make UI for a cryptocurrency investment application (idea-5)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for a cryptocurrency investment application
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with

[2021-03-12 06:37] SHITIZ-AGGARWAL opened #56 "Feat: Make UI for a website that notifies about cp competitions (idea-6)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for a website that notifies all the competitive programming competitions
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any softw

[2021-03-12 06:38] ankitaugale23 commented on #8
Hello, can I work on their ideas added in the ideas.md, or the people who have added it can only work on them? Please let me know. @awantika10 @SHITIZ-AGGARWAL
Thank you

[2021-03-12 06:39] madhhuurrii commented on #8
Hey @SHITIZ-AGGARWAL @awantika10, I have an idea that I would like to work in, can I make a PR, and under which number?

[2021-03-12 06:39] SHITIZ-AGGARWAL opened #57 "Feat: Make UI for BookBuds application (idea-7)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for BookBuds app : An app that provides a platform for people from all over the world to form/ join safe, virtual book clubs and connect with readers who have similar taste.

The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`P

[2021-03-12 06:39] ankitaugale23 commented on #56
I would like to take this! Could you please assign it to me?  @SHITIZ-AGGARWAL

[2021-03-12 06:42] SHITIZ-AGGARWAL opened #58 "Feat: Make UI for Drop Application (idea-8)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for drop app : It will function as an statistics application giving all information about the water resources available in ones locality.

The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you wil

[2021-03-12 06:43] madhhuurrii commented on #47
Hii @weebo-ary @rohank2502, I can add badges for our discord server as well as for the tech stack, can u please assign this issue to me ?

[2021-03-12 06:45] SHITIZ-AGGARWAL opened #59 "Feat: Make UI for desired product app (idea-9)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for desired product app

The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma, AdobXD

[2021-03-12 06:47] SHITIZ-AGGARWAL opened #60 "Feat: Make UI for startup solutions application (idea-10)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for startup solutions application

The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figm

[2021-03-12 06:48] vaishnavig20 commented on #60
I would like to contribute to this using Figma as a GSSOC'21 participant.

[2021-03-12 06:49] SHITIZ-AGGARWAL opened #61 "Feat: Make UI for easyjobs application (idea-11)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for EasyJobs application
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma, AdobeXD

[2021-03-12 06:50] SHITIZ-AGGARWAL commented on #61
@SubratYeeshu Do you want to work on this ?

[2021-03-12 06:56] arnabiscreating commented on #57
Greetings, @SHITIZ-AGGARWAL  I'm a GSSOC21 participant, and I'd like to take on this issue. Could you please assign it to me?
Thank You

[2021-03-12 06:57] arnabiscreating commented on #36
Okay Thank You @weebo-ary

[2021-03-12 06:58] SubratYeeshu commented on #61
Yes @SHITIZ-AGGARWAL sir
Can you please assign it to me

[2021-03-12 06:59] SHITIZ-AGGARWAL commented on #60
@vaishnavig20 sure go ahead .

Also please mention the technology you will be using to solve this issue in comments like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-12 07:00] SHITIZ-AGGARWAL commented on #61
@SubratYeeshu sure

Also please mention the technology you will be using to solve this issue in comments like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-12 07:01] SHITIZ-AGGARWAL commented on #57
@encodeArnab  sure go ahead .

Also please mention the technology you will be using to solve this issue in comments like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-12 07:02] vaishnavig20 commented on #60
I would be working with neumorphism technology.

[2021-03-12 07:05] SHITIZ-AGGARWAL commented on #60
@aanya-trehan do you want to work on this since it was your idea

[2021-03-12 07:06] SHITIZ-AGGARWAL commented on #59
@btanisha do you want to work on this since it was your idea

[2021-03-12 07:07] SHITIZ-AGGARWAL commented on #58
@SpecTEviL shall I assign you ?

[2021-03-12 07:32] aanya-trehan commented on #60
Hi! Yes, if possible, I would like to work on this. Can I work with @vaishnavig20 in this case then?

[2021-03-12 07:42] awantika10 commented on #47
We have added that too!

[2021-03-12 07:43] awantika10 commented on #47
Okay you can go ahead and make a PR

[2021-03-12 07:46] awantika10 commented on #47
@rohank2502 Please add all the badges including all the technologies

[2021-03-12 07:47] rohan-kulkarni-25 commented on #47
HTML/CSS/Figma/AdobeXD/Illustrator/Framer/Anima will add all this or there is an  addition ?

[2021-03-12 07:50] awantika10 commented on #8
Sure go ahead with idea-13

[2021-03-12 07:51] awantika10 commented on #8
@Rayman-Sodhi You can take idea-14

[2021-03-12 07:52] awantika10 commented on #8
Take idea -15

[2021-03-12 07:53] awantika10 commented on #8
You can take idea-16

[2021-03-12 07:54] awantika10 commented on #8
You can idea -17

[2021-03-12 08:06] arnabiscreating commented on #57
Okay, I'll inform you as soon as I have any ideas.
Thank you

[2021-03-12 08:09] SHITIZ-AGGARWAL commented on #60
sure

[2021-03-12 08:10] #47 closed, assigned to rohan-kulkarni-25

[2021-03-12 08:25] btanisha commented on #59
@SHITIZ-AGGARWAL Yes, I would love to! Can I do it in Figma?

[2021-03-12 08:36] jyotsana3108 commented on #8
Heyy @awantika10 actually I am unable to get if you had replied for my comment or not. If you had replied for it then please again reply by mentioning me with the idea number. If not then its fine I will wait.

[2021-03-12 08:59] Shweta200126 commented on #8
Hi @awantika10 and @SHITIZ-AGGARWAL, I have an idea too. Please assign me an idea number.

[2021-03-12 09:02] vaishnavig20 commented on #60
Hey @aanya-trehan You can connect with me on discord "Vaishnavi(P)#8611"

[2021-03-12 09:31] FireQueen-3010 commented on #8
@awantika10  @SHITIZ-AGGARWAL @weebo-ary , ready to merge idea 13 (which u assigned) , shall I make a pull request now?

[2021-03-12 10:04] Anushka-Rajvanshi commented on #8
Hi @awantika10 and @SHITIZ-AGGARWAL , I also want to add an idea. Please assign me an idea number.

[2021-03-12 11:24] SHITIZ-AGGARWAL commented on #59
@btanisha Sure go ahead

[2021-03-12 11:32] SHITIZ-AGGARWAL commented on #59
Also please mention the technology you will be using to solve this issue in comments like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-12 11:43] SHITIZ-AGGARWAL commented on #56
@ASLManasa would you like to work on this since it was your idea ?

[2021-03-12 11:45] SHITIZ-AGGARWAL commented on #55
@arnab031 would you like to work on this since it was your idea

[2021-03-12 11:45] SHITIZ-AGGARWAL commented on #54
@AkashChetia would you like to work on this since it was your idea ?

[2021-03-12 11:49] SHITIZ-AGGARWAL commented on #8
go ahead

[2021-03-12 11:53] SHITIZ-AGGARWAL commented on #8
@jyotsana3108  You can take **Idea -18** now. Let idea 17 get merged then you can create a pr (update your fork before making pr)(

[2021-03-12 11:54] SHITIZ-AGGARWAL commented on #8
@Shweta200126  You can take **Idea -19** . Let idea 18 get merged then you can create a pr (update your fork before making pr)

[2021-03-12 11:55] SHITIZ-AGGARWAL commented on #8
@Anushka-Rajvanshi  You can take **Idea -20** . Let idea 19 get merged then you can create a pr (update your fork before making pr)

[2021-03-12 12:21] FireQueen-3010 commented on #8
I've made a pull request for idea 13 please accept.

[2021-03-12 12:58] ASLManasa commented on #56
@SHITIZ-AGGARWAL yes sir i would like to work on this.

[2021-03-12 13:26] SHITIZ-AGGARWAL commented on #56
Great assigning you then 👍
Also please mention the technology you will be using for the designing like  Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-12 13:40] arnab031 commented on #55
I would like to contribute in it. How can I share my designing update after every 3 days?

[2021-03-12 13:42] Rayman-Sodhi commented on #8
I've made a  pull request for idea 14. Kindly check it.

[2021-03-12 13:44] ASLManasa commented on #56
@SHITIZ-AGGARWAL sir i will update you by monday.

[2021-03-12 14:22] guruc-134 commented on #8
Hi , I would like to work on it please assign me a number .

[2021-03-12 14:52] Chadha93 commented on #36
@awantika10 @SHITIZ-AGGARWAL @weebo-ary  I'm ready with my full UI for idea 3 (medicine check app) using neumorphism
can I make a PR . I am providing the screenshot of the ui, and @awantika10  in which format should I upload SVG, jpeg, fig?

![idea-3-gaurav-chadha](https://user-images.githubusercontent.com/65453826/110956401-9ab41100-8370-11eb-8ef1-b9757217e86b.jpg)

[2021-03-12 15:31] Yaji16 commented on #8
Hey @awantika10 , could you please assign me an idea number?

[2021-03-12 15:33] ghost commented on #33
@SHITIZ-AGGARWAL thanks for assigning it to me.
will start it today and try to deliver the best

[2021-03-12 16:16] mondalraj commented on #8
@SHITIZ-AGGARWAL I want to add an idea, please assign me a number for the same

[2021-03-12 18:10] Devenkapoor7303 commented on #58
Can  I work on this issue?

[2021-03-12 18:37] SHITIZ-AGGARWAL commented on #58
@Devenkapoor7303  Sure Go ahead

[2021-03-12 19:02] ambivert-sam commented on #8
Hey, I would love to contribute to this issue . I want to add an idea  please assign me a number for the same
Could you plz assign me?

[2021-03-13 02:10] yjaiswal05 commented on #8
Hey @SHITIZ-AGGARWAL @awantika10 , I have an idea that I would like to work on, can I make a PR, and under which number?

[2021-03-13 04:04] VishalPatil18 commented on #58
Yes @SHITIZ-AGGARWAL, I have made the design so I think unfortunately @Devenkapoor7303 can't contribute to this anymore because it's around 90% complete and only final finishing touches are to be done.
Sorry @Devenkapoor7303 but you can work on some other idea.

@SHITIZ-AGGARWAL You can assign this to me along with an appropriate difficulty label so that I can make a PR once I'm 100% done.
Thanks!

[2021-03-13 06:31] ishu184 commented on #33
@SHITIZ-AGGARWAL I and @SpecTEviL have made the wireframing do have a look so that we can proceed further
link : https://www.figma.com/file/iOK66ticuIURVC0DEQcQW9/we-are-safe?node-id=0%3A1

[2021-03-13 06:34] VishalPatil18 commented on #33
Also, @SHITIZ-AGGARWAL and @awantika10 if you have any suggestions for improvement do let us know, we'll work towards that.
Thanks!

[2021-03-13 07:15] ishu184 commented on #56
@SHITIZ-AGGARWAL can I also contribute?

[2021-03-13 07:19] fomalhauting opened #69 "A logo for desgen"
I would like to design a logo for desgen.
Kindly assign it to me, under gssoc

- [x] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)

**Describe the solution you'd like**
A description of the solution

[2021-03-13 07:22] awantika10 commented on #69
@itsIapetus We are currently not looking for change in logo. You can work on other issues. I am closing the issue right now,may open this in future.

[2021-03-13 07:22] #69 closed, assigned to nobody

[2021-03-13 07:25] SHITIZ-AGGARWAL commented on #8
**IMPORTANT
We are closing this issue for now , first the designs for existing ideas will be made then this issue will be opened again. Issues till 20 are assigned (16, 17, 18, 19, 20 are left to be merged). Please start making  pr number wise asap**

@ankitaugale23 (idea 16)
@madhhuurrii (idea 17)
@jyotsana3108 (idea 18)
@Shweta200126 (idea 19)
@Anushka-Rajvanshi (idea-20)

All the tagged contrib

[2021-03-13 08:47] SHITIZ-AGGARWAL commented on #58
@SpecTEviL Which technology you used ?

[2021-03-13 08:52] VishalPatil18 commented on #58
Adobe XD and Gimp. @SHITIZ-AGGARWAL
I've made the wireframe as well the UI.

[2021-03-13 08:54] SHITIZ-AGGARWAL commented on #58
@SpecTEviL I am asking about this :
[code]

[2021-03-13 08:54] VishalPatil18 commented on #58
Glassmorphism

[2021-03-13 08:55] SHITIZ-AGGARWAL commented on #58
Okay 👍

[2021-03-13 08:56] SHITIZ-AGGARWAL commented on #58
You can share the links and ss here

[2021-03-13 08:57] VishalPatil18 commented on #58
Yup, as soon as I'm done I'll do it.
Thanks!

[2021-03-13 08:59] SHITIZ-AGGARWAL commented on #58
@Devenkapoor7303 you can work on other issues, there are many issues like this one

[2021-03-13 09:00] SHITIZ-AGGARWAL commented on #55
Great. You can share screenshots and links of the designs in the comments

[2021-03-13 10:22] madhhuurrii commented on #8
Hii @ankitaugale23 are u making a PR for idea-16?

[2021-03-13 10:43] yjaiswal05 commented on #59
Hey, i would also like to contribute to this project . Can i do so? @SHITIZ-AGGARWAL and @btanisha

[2021-03-13 11:09] kunal299 commented on #1
@awantika10 @SHITIZ-AGGARWAL @weebo-ary Please review this design made by me and @vkassingh.
![image](https://user-images.githubusercontent.com/71486434/111028121-a4924e80-841a-11eb-96c2-c79dbfa6f505.png)

[2021-03-13 12:56] Devenkapoor7303 commented on #58
Okay

[2021-03-13 14:42] madhhuurrii commented on #8
Hi @SHITIZ-AGGARWAL @awantika10 ,as currently idea 16 PR has not been made , should I proceed by making a PR else wait?

[2021-03-13 15:01] vaishnavig20 commented on #60
do we have to send the link to our design here or on discord?

[2021-03-13 15:02] SHITIZ-AGGARWAL commented on #8
@madhhuurrii go ahead , make a pr as idea 16

[2021-03-13 15:03] SHITIZ-AGGARWAL commented on #60
send here

[2021-03-13 15:08] vaishnavig20 commented on #60
https://www.figma.com/file/i1h2s9bpwHOE3zEss0KoK6/startup?node-id=0%3A1

[2021-03-13 15:11] SHITIZ-AGGARWAL commented on #60
![image](https://user-images.githubusercontent.com/53532851/111034626-85a4b400-843c-11eb-856a-fd2d0c4df9f4.png)
It's better if you make them in same position

[2021-03-13 15:13] SHITIZ-AGGARWAL commented on #60
![image](https://user-images.githubusercontent.com/53532851/111034656-b553bc00-843c-11eb-8171-868cf5fbbe5c.png)
Also are these suppose to be round or same as it is here

[2021-03-13 15:14] SHITIZ-AGGARWAL commented on #60
@awantika10

[2021-03-13 15:38] vaishnavig20 commented on #60
they were looking good this way

[2021-03-13 16:26] Ayushi7456 commented on #35
I and @aanya-trehan making this UI design using Glassmorphism. We are beginner, learning and doing, will show our design soon.

[2021-03-13 19:05] SKV-programmer commented on #1
@awantika10 I would like to contribute in this part....

[2021-03-13 19:09] SKV-programmer commented on #55
@SHITIZ-AGGARWAL I like to work on this, kindly assign me this part..

[2021-03-14 08:34] ASLManasa commented on #56
@SHITIZ-AGGARWAL I would work using glassmorphism . Thank You.

[2021-03-14 11:46] geniusbharti commented on #54
@SHITIZ-AGGARWAL  I would like to work on this as a GSSOC'21 participant.

[2021-03-14 12:10] SHITIZ-AGGARWAL opened #74 "Feat: Make 3D Illustrations and Animations"
**What is your feature request related to ?**

- [x] Designing
- [x] Others : Making 3d illustrations and animations

**Description**

Make 3d illustrations or animations ( the illustrations can be related to any topic but they should be 3d and not copied from anywhere). You have to add in  .png or .jpg format. In the designs folder make a new folder (name should be related to illustrations) , in

[2021-03-14 12:10] #3 closed, assigned to nobody

[2021-03-14 14:16] SHITIZ-AGGARWAL commented on #8
@jyotsana3108 add your idea as idea 16
please do it as soon as possible

[2021-03-14 14:18] SHITIZ-AGGARWAL commented on #56
You can work with @ASLManasa on this

[2021-03-14 15:46] SHITIZ-AGGARWAL commented on #54
@geniusbharti sure

Also please mention the technology you will be using to solve this issue in comments like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-14 15:50] vaishnavig20 commented on #60
Please tell

[2021-03-14 16:22] jyotsana3108 commented on #8
I had made a PR please verify and merge it @awantika10 and @SHITIZ-AGGARWAL

[2021-03-14 17:38] awantika10 commented on #1
@vkassingh @kunal299 Your designs need to be improved, please refer to the resources given in discord channel

[2021-03-14 17:47] awantika10 commented on #33
@ishu184 @SpecTEviL Wireframes seems okay! The buttons seem huge and typography can be improved. Also, I am not able to see any light tone along with secondary colors ( color schemes can be improved)

[2021-03-14 17:53] awantika10 commented on #60
@vaishnavig20  There is a lot of chance for the improvement of the designs. You can work better. Please refer to the resources.

[2021-03-14 18:37] ghost commented on #33
@SHITIZ-AGGARWAL i have done with my 70% of the design work i will be giving the final output tomorrow so pls grant me one day extension

[2021-03-15 06:19] P1210 commented on #57
Hello, I am a GSSoC'21 Participant and i would like to work on the issue.  Can you please assign it to me?
Thank You.

[2021-03-15 06:27] muthuannamalai12 opened #75 "Create Code of Conduct"
I would like to add code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-03-15 06:28] muthuannamalai12 commented on #75
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 06:31] muthuannamalai12 opened #76 "Greeting Bot"
Create a Contributor Greetings Bot.
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.

[2021-03-15 06:32] muthuannamalai12 commented on #76
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 06:33] VishalPatil18 commented on #58
1. Main Menu
![MainMenu](https://user-images.githubusercontent.com/62737267/111112386-176c0880-8586-11eb-84f8-787919f69b7e.png)

2. Notifications
![Notifications](https://user-images.githubusercontent.com/62737267/111112398-1d61e980-8586-11eb-9a0d-b806b2daa683.png)

3. Sign-in
![Signin](https://user-images.githubusercontent.com/62737267/111112409-205cda00-8586-11eb-86ee-82aba7ad7bfd.png)

4. Sign-

[2021-03-15 06:37] btanisha commented on #59
@SHITIZ-AGGARWAL i've used gglassmorphism, i'll complete it by Tuesday evening.

[2021-03-15 06:55] manognyaa commented on #59
Hey there, I think I can work on this design since am familiar with Figma and I will also use Glass morphism technology to make it more attractive. @SHITIZ-AGGARWAL
Can I solve this issue ?

[2021-03-15 06:57] manognyaa commented on #60
Hey there, I think I can work on this ui design since am familiar with Figma. I will use the Glass morphism Technolgy. @SHITIZ-AGGARWAL  Can I solve this issue?

[2021-03-15 07:45] manognyaa opened #77 "Changes in the read me file."
I am gssoc'21 Participant.

I would like to correct the spelling ("organisation") => ("organization") .
Please assign me this issue am happy to work.

here is the screenshot :

![image](https://user-images.githubusercontent.com/77045147/111119448-28217c00-8590-11eb-9984-a65738121f60.png)
@ShauryaBhandari @SHITIZ-AGGARWAL @btanisha

[2021-03-15 07:46] awantika10 commented on #57
Sure

[2021-03-15 07:47] #77 closed, assigned to nobody

[2021-03-15 07:48] awantika10 commented on #76
@muthuannamalai12 We are currently not looking for this feature. May open this issue in future

[2021-03-15 07:48] #76 closed, assigned to nobody

[2021-03-15 08:03] vaishnavig20 commented on #60
mam do we need to completely change it or improve few features of it. Please do tell us it would help a lot to improve the design.

[2021-03-15 08:17] ASLManasa commented on #56
@SHITIZ-AGGARWAL @awantika10 Hi , I am learning about glassmorphism. My progresss is till here. if any changes or suggestions kindly tell me. Thank you
![image](https://user-images.githubusercontent.com/72789934/111123090-ea732200-8594-11eb-844b-053f630fb393.png)

[2021-03-15 09:12] geniusbharti commented on #54
@SHITIZ-AGGARWAL I will be using Neumorphism and Figma.

[2021-03-15 11:16] manognyaa commented on #60
Can I also contribute to the design work .
 I have experience in Figma and will use glass morphism technology .
@SHITIZ-AGGARWAL @awantika10

[2021-03-15 13:45] Shweta200126 commented on #8
@jyotsana3108 I can't see ur idea in the main PRs here. Pls, try to do that again.

[2021-03-15 14:04] vaibhavpathak999 opened #78 "Medical App's: Web Version"
**What is your feature request related to ?**

- [x] Desgen Website
- [X] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

A medical web application that will be built using react. An almost similar idea is present in idea.md for mobile-based applications.
What is your feature request? (A description of the feature. Write about the problem or idea you want to refe

[2021-03-15 14:06] jyotsana3108 commented on #8
I had again made a PR please verify and merge it @awantika10 and @SHITIZ-AGGARWAL and @Shweta200126

[2021-03-15 14:09] vaibhavpathak999 commented on #74
Hey, @SHITIZ-AGGARWAL I want to work on this issue. I find it cool and amazing. I have worked on three 3D games in Unity. I would love to contribute to this issue. It would be great if you can give me examples of 3D illustrations and animations. And can you explain about the theme on which I have to make them?

[2021-03-15 14:35] ShambhaviSharma0110 commented on #8
Hey this project is really intriguing and since I'm a beginner could you please allow me to make a pr?

[2021-03-15 20:06] vaibhavpathak999 commented on #54
@SHITIZ-AGGARWAL I would also like to work on this same issue. I will be also be using Neumorphism using Figma. Please assign this issue to me as well.
If you want me to try Glassmorphism I can also implement in that.

[2021-03-15 23:05] arnab031 commented on #55
I have made some portion UI of my whole app. Here is the link - https://www.figma.com/file/nsEv5lRni5X2DLwgaMuK7a/Untitled?node-id=1%3A2 . @SHITIZ-AGGARWAL @awantika10 Please review it.

[2021-03-16 04:20] kshitija-2001 commented on #8
Hey, I would love to contribute to this issue. Please can you allow me to make a pr?

[2021-03-16 05:02] ghost commented on #33
@SHITIZ-AGGARWAL and @awantika10 I have done with the wireframe for the app pls review it once so that I can move further with a better design applying Neumorphism. If any feedback or suggestions please guide me.
Thanks
Wireframe:- https://xd.adobe.com/view/6ba416c7-6ca0-4a82-9cd3-5137e4823fef-3ef7/

[2021-03-16 05:44] VishalPatil18 commented on #33
Hey @garvitraj, the wireframe looks very similar to what I along with @ishu184 have made. Maybe you can try something different so that we get to see a better design or try to work on some other issue as we have started the work on this and I don't think we need more than 2 on this issue. Correct me if I'm wrong but I think @ishu184, @SHITIZ-AGGARWAL, and @awantika10 would agree with me on this.
T

[2021-03-16 05:48] awantika10 commented on #8
@ShambhaviSharma0110 @kshitija-2001 We won't be working further on this issue. You can check other issues and start contributing for it :)

[2021-03-16 05:50] awantika10 commented on #78
@vaibhavpathak999 Closing the issue. We have similar issues for these, kindly look for the same

[2021-03-16 05:50] #78 closed, assigned to nobody

[2021-03-16 05:51] awantika10 commented on #75
@muthuannamalai12 Sure. You can work on it.

[2021-03-16 05:55] awantika10 commented on #74
@vaibhavpathak999 You can make the 3D illustrations and animations using blender,maya,unity.
Sample is given below and you can make on any theme.
![images](https://user-images.githubusercontent.com/71998138/111262370-303df200-864a-11eb-910b-8ceef498fb34.jpeg)

[2021-03-16 05:55] awantika10 commented on #61
@SubratYeeshu Update?

[2021-03-16 05:57] awantika10 commented on #60
You need to change the whole design. Kindly refer to the resources given #resource channel in discord @vaishnavig20

[2021-03-16 05:57] awantika10 commented on #60
We have 2 assignees, you can check out other issues

[2021-03-16 05:57] SubratYeeshu commented on #61
Yes @awantika10 mam, working on it need one more day

[2021-03-16 05:58] awantika10 commented on #59
Sure @yjaiswal05

[2021-03-16 06:03] awantika10 commented on #58
@SpecTEviL The buttons are huge you need reduce the size. Also, texts looks huge, please reduce the size of the text.
Refer the link :
https://dribbble.com/search/Water%20application
Check their font size, typography, etc

[2021-03-16 06:04] awantika10 commented on #57
@encodeArnab update?

[2021-03-16 06:07] awantika10 commented on #56
@ASLManasa Please refer to the resources given in #resources channel on discord. I can't see the gradient at the background. Try changing color palette 🎨.
Refer to : https://dribbble.com/search/Glassmorphism

[2021-03-16 06:08] VishalPatil18 commented on #58
Sure will do that. Thank you for the feedback @awantika10.

[2021-03-16 06:09] awantika10 commented on #60
@vaishnavig20  refer to https://dribbble.com/search/Neumorphism

[2021-03-16 06:11] #75 closed, assigned to muthuannamalai12

[2021-03-16 06:16] awantika10 commented on #55
@arnab031 Designs look pretty good :)) Just a small suggestions you reduce the width of the text fields given in login and register page. Do add a clay mobile mockup for better appearance of the designs.
References for clay mockups and appearance :
https://dribbble.com/search/Neumorphism

[2021-03-16 06:19] awantika10 commented on #35
@aanya-trehan @Ayushi7456 Update?

[2021-03-16 06:22] awantika10 commented on #33
@garvitraj Wireframes are very similar. Try working on other issues. I guess 2 assignees are more than enough. We have a lot of issues open for your guys!

[2021-03-16 06:25] vaibhavpathak999 commented on #78
Ok @awantika10

[2021-03-16 06:41] ASLManasa commented on #56
@awantika10 ok mam!

[2021-03-16 06:53] rohan-kulkarni-25 opened #82 "Create A Brand New Website For Our Designs !!"
**What is your feature request related to ?**

- [x] Desgen Website
- [ ] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)

I will like to create a website for our own ideas than add the ideas to other platform why not to

[2021-03-16 07:09] arnabiscreating commented on #57
Hello there, @awantika10 . Sorry for the delay; I will finish the designs today and will update you as soon as I do; for the designs, I am aiming for a retro aesthetic.
Thank you so much

[2021-03-16 07:37] arnab031 commented on #55
Okay. I will work on it.

[2021-03-16 08:55] lavishabhambri commented on #61
Hey @SHITIZ-AGGARWAL and @awantika10 I want to work on this issue. I will be using Neumorphism in Figma. Please assign this issue to me.

[2021-03-16 13:38] ShambhaviSharma0110 commented on #36
hey, I'd like to work on this using neumorphism...

[2021-03-16 13:39] ShambhaviSharma0110 commented on #35
hey, I'd like to work on this using neumorphism... please allow me...

[2021-03-16 13:44] ghost commented on #33
@awantika10 its ok mam I will definitely work on the different issue and give the better result
mam pls correct me if I m wrong in the wireframe we only just put up the functionality and feature of the app so too wireframe might look similar, I took some ideas from @SpecTEviL  design and as @SHITIZ-AGGARWAL sir mentioned the app feature already so I processed it through that.
Thanks will definitel

[2021-03-16 13:48] ishu184 commented on #33
I have modified the color scheme, mentioned some fonts, and created a sample card @awantika10, @SHITIZ-AGGARWAL., @SpecTEviL
I am not sure which font to be used so let me know your suggestion. Let me know where the improvements can be made.

[2021-03-16 13:48] ishu184 commented on #33
figma link :https://www.figma.com/file/iOK66ticuIURVC0DEQcQW9/we-are-safe?node-id=0%3A1

[2021-03-16 14:20] geniusbharti commented on #54
@SHITIZ-AGGARWAL I have completed the login sign up design. I'm working on homepage now.
![EmergencyTrafficClear](https://user-images.githubusercontent.com/75856835/111324256-9cdbdf80-8690-11eb-9013-fc1ce15af439.PNG)

[2021-03-16 14:41] vaibhavpathak999 commented on #54
Hey @geniusbharti can we discuss the home page and the feature pages. How they gonna look and what exactly we will design. If we can have a meet on discord.

[2021-03-16 15:02] Anushka-Rajvanshi commented on #8
Can I also not make a PR? I was already assigned a number and was waiting for my turn. @awantika10 @SHITIZ-AGGARWAL

[2021-03-16 18:59] Ayushi7456 commented on #35
![App for olderly ppl](https://user-images.githubusercontent.com/78416191/111364667-daa31e80-8624-11eb-9928-879a262c3cfe.JPG)
@awantika10 @SHITIZ-AGGARWAL please review our design. Do suggest if it can be improved. We will update further complete design soon.

[2021-03-16 19:23] aanya-trehan commented on #60
Thank you! We will make changes and update you

[2021-03-17 05:01] vaishnavig20 commented on #60
mam since we were working on neumorphism technology,do u want us to use glassmorphism instead?

[2021-03-17 07:01] #8 closed, assigned to nobody

[2021-03-17 07:05] SHITIZ-AGGARWAL commented on #8
@Anushka-Rajvanshi make your PR , as idea 18
as soon as possible

[2021-03-17 07:09] SHITIZ-AGGARWAL commented on #82
@rohank2502 first the designs will be made for the website , then this will start

[2021-03-17 07:11] SHITIZ-AGGARWAL commented on #82
I am raising the issue for designing the website , if interested you can comment on it. If you only want to work on coding part then you will have to wait till designs are finalised

[2021-03-17 07:16] #82 closed, assigned to nobody

[2021-03-17 07:18] SHITIZ-AGGARWAL commented on #36
@ShambhaviSharma0110 you can work on other design issues this issue is assigned

[2021-03-17 07:28] Ayushbajpai19 commented on #55
Can i still work on the design??

[2021-03-17 07:36] SHITIZ-AGGARWAL opened #84 "Feat: Make UI for a tutor finding application (idea-12)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an application through which students and parents can hire a tutor.
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any softwa

[2021-03-17 07:41] SHITIZ-AGGARWAL opened #85 "Feat: Make UI for a networking platform for workout enthusiasts (idea-13)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an application for a networking platform for workout enthusiasts
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software

[2021-03-17 08:04] ishu184 commented on #56
I have made a wireframe @awantika10 @SHITIZ-AGGARWAL let me know your suggestions and improvements that need to be made.
@ASLManasa feel free to suggest anything you would like to add
Figma link: https://www.figma.com/file/lKzeb5baOUFKXKRxifuE0m/cp?node-id=0%3A1

[2021-03-17 13:51] arnabiscreating commented on #57
Hello there, @awantika10 . Sorry for the delay; I have completed this much, kindly review it [BookBuds](https://www.figma.com/file/E48tR8VPGlEZ9XZKYyCTJK/BookBud?node-id=0%3A1)
Thank You

[2021-03-17 14:43] SubratYeeshu commented on #61
@SHITIZ-AGGARWAL sir how can i create a pull request for my design on figma

[2021-03-17 15:22] deeptea22 commented on #84
Hey! I would like to work on this issue using neumorphism on figma. Please assign this to me as a part of GSSoC'21. Thanks :)

[2021-03-17 17:51] ghost commented on #84
hey i would like to work on the issue in XD pls assign this issue to me as a part of Gssoc21

[2021-03-17 17:53] manognyaa commented on #84
hey can I work on this I will use neumorphism technology via figma ? @SHITIZ-AGGARWAL

[2021-03-17 18:38] SHITIZ-AGGARWAL commented on #61
@SubratYeeshu Please share the designs here first then you can create a pull request

[2021-03-17 18:41] SHITIZ-AGGARWAL commented on #84
Assigning @deeptea22 and @garvitraj

@manognyaa you can check out #85 . If you want to work on it I will assign it to you

[2021-03-17 18:43] SHITIZ-AGGARWAL commented on #84
@garvitraj Mention how you are going to solve this like using Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

[2021-03-17 18:52] Bhawna147 commented on #55
@SHITIZ-AGGARWAL I would like to work on this as a GSSOC'21 participant.

[2021-03-17 18:59] Bhawna147 commented on #56
can i work on this using Neumorphism ?

[2021-03-17 19:32] vaibhavpathak999 commented on #54
![New Wireframe 1](https://user-images.githubusercontent.com/51280899/111526304-9464d100-8784-11eb-88e5-21516586560b.png)

@SHITIZ-AGGARWAL  and @awantika10  I have worked on the wireframe of this app.
Please review it and share your views or changes (if any).

I have focused on the basics of the app. Included 6 features:
1.) Create an Emergency
2.) Find alternate pathways
3.) Search Path for the

[2021-03-18 00:03] garima010303 commented on #85
Sir, Can I work in this using neuromorphism technology via figma? @SHITIZ-AGGARWAL

[2021-03-18 04:04] SubratYeeshu commented on #61
![EasyJobs](https://user-images.githubusercontent.com/75444646/111571653-1bd63280-87cd-11eb-89ff-2d79f5fbd032.png) @SHITIZ-AGGARWAL  sir

[2021-03-18 04:53] manognyaa commented on #85
can I work on this issue I will be using neuromorphism technology via figma @SHITIZ-AGGARWAL

[2021-03-18 04:55] manognyaa commented on #84
@SHITIZ-AGGARWAL Yes sir, definitely I will do.
 pls assign me the work .

[2021-03-18 05:45] SHITIZ-AGGARWAL commented on #85
@garima010303 @manognyaa assigning you both

[2021-03-18 05:46] SHITIZ-AGGARWAL commented on #84
done 👍

[2021-03-18 05:47] awantika10 commented on #33
@ishu184 @SpecTEviL  Use the lighter shade scheme for the Neumorphism design. The colour scheme and gradient which you have taken is generally used for glassmorphism.
Also, for the font try using Sans - Serif family Roboto, etc.

[2021-03-18 05:57] ShreyaJindal commented on #84
@SHITIZ-AGGARWAL, Can I work on this issue?

[2021-03-18 05:57] awantika10 commented on #35
@Ayushi7456 @aanya-trehan You guys can change the gradient background. Gradient should be lighter with a combination of white-blue-green.
Size of the font can be decreased. Also, the login and signup button should be smaller. Login and SignUp text colour should be change to black as white is not visible with the green shade.
Same goes which the other screens, you need to decrease the size of the f

[2021-03-18 05:58] SHITIZ-AGGARWAL commented on #56
@Bhawna147 you can check out other designing issues

[2021-03-18 05:58] awantika10 commented on #35
You can improve the illustrations too

[2021-03-18 05:59] awantika10 commented on #33
Wireframes looks fine

[2021-03-18 06:02] awantika10 commented on #54
@vaibhavpathak999 Wireframes looks good. I guess @geniusbharti and you can start with your design through these wireframes.

[2021-03-18 06:02] SHITIZ-AGGARWAL opened #89 "Feat: Make UI for "Share if You Care" App (idea-14)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an application : Share if You Care
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like

[2021-03-18 06:05] SHITIZ-AGGARWAL opened #90 "Feat: Make UI for a community application (idea-15)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for  a community application
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma, Ado

[2021-03-18 06:05] awantika10 commented on #56
@ishu184 @ASLManasa You need not use the gradient background for the wireframes. Wireframes are usually black and white in color which are usually the rough sketches. Rest looks fine :)

[2021-03-18 06:06] SubratYeeshu commented on #61
@SHITIZ-AGGARWAL sir, https://www.figma.com/file/dauLg1PUdlxoXtZes0Nxe6/EasyJobs

[2021-03-18 06:07] awantika10 commented on #57
@SHITIZ-AGGARWAL Maybe you can suggest here.

[2021-03-18 06:07] VishalPatil18 commented on #33
Yes, @awantika10  actually we're making this app in Glassmorphism. Hence the color scheme and gradient is chosen.
Although after discussing with @ishu184 we've decided to change the technology to Neumorphism as we both wanted to learn it and experiment and this is the best time to do so. We'll update you with the new color scheme ASAP.
So is that fine @awantika10?

[2021-03-18 06:07] SHITIZ-AGGARWAL opened #91 "Feat: Make UI for a reservation booking app. (idea-16)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for  a reservation booking app.
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma,

[2021-03-18 06:08] vaibhavpathak999 commented on #54
Thanks a lot @awantika10.

@geniusbharti can you dm me on discord so that we can discuss design together. my username is vaibhav#9321.

[2021-03-18 06:08] awantika10 commented on #59
@btanisha Update?

[2021-03-18 06:09] SHITIZ-AGGARWAL opened #92 "Feat: Make UI for health application (idea-17)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for a health application.
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Figma, AdobeX

[2021-03-18 06:10] awantika10 commented on #60
No need :)

[2021-03-18 06:12] SHITIZ-AGGARWAL opened #93 "Feat: Maki ui design for an application for pets adoption (idea-18)"
**What is your feature request related to ?**

- [x] Designing

**Description**

Maki ui design for an application for pets adoption
The design should be made using new ui technology trends
like Glassmorphism , Neumorphism , Retro aesthetic , 3d graphics etc

`Please mention the technology you will be using to solve this issue in comments`

You can use any software you are comfortable with like Fi

[2021-03-18 06:12] awantika10 commented on #61
@SubratYeeshu Which technology have you used for the design?

[2021-03-18 06:22] SubratYeeshu commented on #61
neomorphism @awantika10  mam

[2021-03-18 06:24] Bhawna147 commented on #93
Can I work on this ?

[2021-03-18 06:28] srishtij2000 commented on #91
Can I work on this issue?

[2021-03-18 06:30] sgautam2503 commented on #91
@SHITIZ-AGGARWAL I want to work on this issue. Can you please assign it to me.

[2021-03-18 06:36] Bhawna147 commented on #93
please assign this to me

[2021-03-18 06:37] SHITIZ-AGGARWAL commented on #93
Sure

[2021-03-18 07:10] Anushka-Rajvanshi commented on #93
I want to work on it along with @Bhawna147. Please assign me this issue.

[2021-03-18 07:11] vidhi1121 commented on #93
can you assign it to me?

[2021-03-18 07:22] SHITIZ-AGGARWAL opened #94 "Contest: Make Ui design for Desgen Website"
## Description
**Create Ui design for Desgen Website**

[code]

**This is an open contest , so you don't have to get assigned . Do not comment until your design is ready .First you have create design for the whole platform**

**Then Comment on the issue  with the given details**

[code]
**You can work on any software - Figma, AdobeXD, Framer etc**

**Don't create any pull request , You have to onl

[2021-03-18 07:41] ASLManasa commented on #56
@awantika10 I have done some modifications can you check! This will be the home page. KIndly suggest if any changes can be made @ishu184
![image](https://user-images.githubusercontent.com/72789934/111589858-68c90180-87eb-11eb-9eea-051093fa7299.png)

[2021-03-18 07:57] SHITIZ-AGGARWAL commented on #57
@encodeArnab can you come on discord voice channel , I will tell you there

[2021-03-18 08:43] Ayushi7456 commented on #35
Okk thankyou! we will improve it.

[2021-03-18 09:55] Shweta200126 commented on #92
Hey, I'd love to work on this. (I also gave the idea).

[2021-03-18 10:56] jhasuraj01 commented on #74
@SHITIZ-AGGARWAL I have worked on one UI animation, can I make a PR for it?

https://user-images.githubusercontent.com/44930179/111616576-0df1d300-8808-11eb-8391-b79f3b0e988b.mp4

[2021-03-18 11:34] ghost commented on #84
@SHITIZ-AGGARWAL i was planning to do it with Neumorphism and try to include some 3d component
i and @deeptea22 together work on it on Figma only as i too familiar with Figma if u permit?

[2021-03-18 12:05] vaishnavig20 commented on #90
Can I work on this since it was mine idea?

[2021-03-18 12:10] sgautam2503 commented on #91
@SHITIZ-AGGARWAL http://bit.ly/2P9tX48 Review the login and signup page for this

[2021-03-18 12:11] sgautam2503 commented on #91
[http://bit.ly/2P9tX48](url)

[2021-03-18 12:30] deeptea22 commented on #84
https://www.figma.com/file/XsiAbwGmeozKOJQ6my4G4X/Tutoring-App?node-id=0%3A1
This is what i've done so far. Please let me know if there are any changes. Thank you :)
@SHITIZ-AGGARWAL

[2021-03-18 15:21] P1210 commented on #57
Hello, I was assigned the issue. I have made basic user flow and outline and started working on wireframes. Will finish them soon. Let me know any changes and suggestions. Thank you.
Link to the file - https://www.figma.com/file/hdVzMMzFfXokwQiYVzIw8E/Book-Buds?node-id=2%3A1

[2021-03-18 22:24] Jaagrav commented on #94
I can work on this and send you the figma file link, I can simultaneously code it out as well in React if you need me to.

[2021-03-19 03:03] ghost opened #95 "Adding effects"
This webpage is looking great but I want to add some styling and effects to it.....

[2021-03-19 03:04] #95 closed, assigned to nobody

[2021-03-19 05:26] rohan-kulkarni-25 commented on #82
Ok will wait :)

[2021-03-19 06:22] SHITIZ-AGGARWAL commented on #94
This contest is only for designing. The tech stack is not finalised so coding will be seen later.
Also for doubts please ask on discord , this comment section should only be used for contest design submission (design links)

[2021-03-19 07:29] #36 closed, assigned to Chadha93, encodeArnab

[2021-03-19 07:33] #2 closed, assigned to Chadha93

[2021-03-19 09:01] aanya-trehan commented on #60
<img width="513" alt="Screenshot 2021-03-19 at 2 24 11 PM" src="https://user-images.githubusercontent.com/75018174/111755948-ad25d180-88bf-11eb-9224-52997b9cc537.png">
@SHITIZ-AGGARWAL @awantika10 Hi! We have updated our design based on your suggestions please check and let us know your feedback.

[2021-03-19 09:03] aanya-trehan commented on #60
<img width="513" alt="Screenshot 2021-03-19 at 2 32 11 PM" src="https://user-images.githubusercontent.com/75018174/111756210-f413c700-88bf-11eb-9d19-af3d1add891c.png">
Hi! @SHITIZ-AGGARWAL @awantika10 we have updated the design based on your feedback please check and let us know what you think about it

[2021-03-19 10:04] ASLManasa commented on #56
I have tried to complete all the pages kindly go through it and let me know if u want any changes @SHITIZ-AGGARWAL @awantika10 @ishu184  https://www.figma.com/file/Ik9IERZSo593sOS9TIFKCZ/Untitled?node-id=0%3A1

[2021-03-19 12:06] lavishabhambri commented on #61
@awantika10 and @SHITIZ-AGGARWAL sir, I have made the wireframe for EasyJobs Application. Kindly review it and share your suggestions & changes (if any).
![New Wireframe 1](https://user-images.githubusercontent.com/56781728/111777481-5cbb6d80-88d9-11eb-8922-ca73ccc64e68.png)

[2021-03-19 14:00] ishu184 commented on #56
https://www.figma.com/file/6THXgipQE7vgUxd2azueIT/competative-programming?node-id=326%3A2
I have given made the login pages, let me know the changes and improvements that need to be made
@SHITIZ-AGGARWAL @awantika10

[2021-03-19 16:34] ghost commented on #84
@SHITIZ-AGGARWAL and @awantika10 any suggestions on this design till now so or any improvement then please tell.
i will be completing it by today
![Capture](https://user-images.githubusercontent.com/62978449/111813342-1547d800-88ff-11eb-88f2-0a1b89854a29.PNG)

[2021-03-19 17:14] sonalsingh25 opened #97 "Bug: Update in README.md"
## Expected Behavior
Instead of day-to-day "basis" it is more appropriate to use day-to-day "life"
Describe the expected behavior of the issue.

## Actual Behavior
I want to change the above mentioned word.
A clear description of what the actual behavior is.

## Steps to Reproduce the Problem

1.
2.
3.

## Specifications

Describe any relevant information related to issue

- OS: Windows / Linux /

[2021-03-19 20:53] vaibhavpathak999 commented on #89
Hey, @SHITIZ-AGGARWAL can you please assign this issue to me. I would like to work on this issue. I will be using Glassmorphism to implement this design in AdobeXD.

[2021-03-19 21:01] lavishabhambri commented on #89
Hey, @SHITIZ-AGGARWAL can you assign this issue to me, please. I want to work on this & will be using Glassmorphism for this.

[2021-03-20 09:49] Bhawna147 commented on #93
@awantika10 @SHITIZ-AGGARWAL here's the ss of my design that i have done so far  please review it and let me know the changes if required.
https://www.figma.com/file/WBQi8Le1mkfjHLpt8Yzonf/Gssoc?node-id=0%3A1

![image](https://user-images.githubusercontent.com/79100530/111865877-9cdd2780-898f-11eb-8429-cde62e2b79c2.png)

[2021-03-20 12:37] vaishnavig20 commented on #60
Please tell so that we can improve further

[2021-03-21 06:56] #97 closed, assigned to nobody

[2021-03-21 07:20] awantika10 commented on #93
@Bhawna147 Design looks good :) Couple of changes. You need to improve the secondary color. Buttons size can be improved, it's too large.
The purple 🟣 shadows which you have used doesn't match well. Try using a lighter color.
Reference : https://dribbble.com/shots/11996888-Dog-Lovers

[2021-03-21 07:21] awantika10 commented on #91
@srishtij2000 @sgautam2503 update?

[2021-03-21 07:24] awantika10 commented on #85
Update?

[2021-03-21 07:27] awantika10 commented on #84
@garvitraj @deeptea22 You guys need to work on same designs.

[2021-03-21 07:29] awantika10 commented on #84
Design looks good :) Try making more frames. Also, try changing the color palette 🎨
https://dribbble.com/shots/15316388-eLearning-Mobile-App-I-Ofspace

[2021-03-21 07:31] awantika10 commented on #74
@SHITIZ-AGGARWAL Can we include this?

[2021-03-21 07:32] awantika10 commented on #61
Looks good :) @lavishabhambri @SubratYeeshu You both can start working on this.

[2021-03-21 07:36] deeptea22 commented on #84
@awantika10 Actually @garvitraj initially told he was going to do it with Adobe XD, so i immediately started working on it using figma. By the time he switched to figma i was already 70% done with my design. So please take a look at mine and let me know. Thanks :)
https://www.figma.com/file/XsiAbwGmeozKOJQ6my4G4X/Tutoring-App?node-id=0%3A1

[2021-03-21 07:36] awantika10 commented on #60
@vaishnavig20 @aanya-trehan You guys need to improve the text and the button size. Please take help from @Chadha93 in the discord server. Or else ping me up personally I'll assist you both

[2021-03-21 07:37] awantika10 commented on #58
Update @SpecTEviL

[2021-03-21 07:38] awantika10 commented on #59
Update?

[2021-03-21 07:40] awantika10 commented on #57
@P1210 User-flow looks good. You can start working

[2021-03-21 07:40] awantika10 commented on #57
@P1210 @encodeArnab You guys need to work on the same issue with the same design. Please decide and let me know

[2021-03-21 07:43] awantika10 commented on #56
@ishu184 @ASLManasa Kindly look up for basic design of website in dribble. You guys need to improve the color, font. Please research about it. Ping me personally if you want any help

[2021-03-21 07:44] awantika10 commented on #55
Update?

[2021-03-21 07:44] awantika10 commented on #55
@SKV-programmer Are you working along with @arnab031

[2021-03-21 07:45] awantika10 commented on #55
Look up for other issues please

[2021-03-21 07:45] sgautam2503 commented on #91
@awantika10 https://www.figma.com/file/GMabDxlzYCRzCCqaYIzbRi/Booking-App?node-id=0%3A1 Review this.

[2021-03-21 07:46] awantika10 commented on #55
Hey @Bhawna147 Kindly look up for other issues

[2021-03-21 07:47] awantika10 commented on #35
Update?

[2021-03-21 07:49] awantika10 commented on #33
No problem go ahead @ishu184 @SpecTEviL

[2021-03-21 07:49] awantika10 commented on #1
Update?

[2021-03-21 09:33] Anushka-Rajvanshi commented on #93
@awantika10 If two person can be assigned to this issue then please assign me. I would like to work on it.

[2021-03-21 10:14] ANSHIKA1806 opened #99 "UPDATE README FILE"
README is the first file one should read when starting a new project. It's a set of useful information about a project, and a kind of manual. A README text file appears in many various places and refers not only to programming. So i want to make your README file more meaningful and more easier to understand the whole project.

[2021-03-21 10:25] ANSHIKA1806 commented on #99
@awantika10 @weebo-ary @SHITIZ-AGGARWAL @ShauryaBhandari  please assign this task to me ,I am GSSoC'21 participants.
I will do my best to update README file as it is the most important file to know about the project.

[2021-03-21 11:50] manognyaa commented on #85
I have created a profile, chat box, calendar and also 3 onboarding wire frames. @awantika10 It will take only few more days.

[2021-03-21 12:25] arnab031 commented on #55
I have some changes in my app design. Please review it. Here is the link- https://www.figma.com/file/McWNGrm07PTJdPHjfZTPuP/Crypto-App-Design?node-id=0%3A1 @awantika10 @SHITIZ-AGGARWAL

[2021-03-21 12:45] ishika261 commented on #89
Hey @SHITIZ-AGGARWAL can you please assign this issue to me. I would like to work on this.

[2021-03-21 12:46] ishika261 commented on #92
hey, i would love to work on this

[2021-03-21 15:17] Smriti129 opened #100 "Revamp the footer section"
![Screenshot (32)](https://user-images.githubusercontent.com/76429418/111910180-54ecfc00-8a86-11eb-9d31-2eb2a6fcae06.png)
I want to add changes in the format and styling of footer section, so that it looks attractive.
I'm a participant of GSSOC'21. Please assign me this issue.

[2021-03-21 15:32] P1210 commented on #57
Yeah works for me.

[2021-03-21 15:48] garima010303 commented on #85
I've created login, profile and tracker page. Just few more days I need to complete the remaining ones. I'll upload them soon.

[2021-03-21 17:29] SHITIZ-AGGARWAL commented on #99
@ANSHIKA1806 please tell what are the changes you will be making in the README in detail , then accordingly we will see if this issue should be allowed or not

[2021-03-21 17:32] SHITIZ-AGGARWAL commented on #100
@Smriti129 This is dribbble not desgen . Dribbble is the platform where we have posted our designs.

[2021-03-21 17:32] #100 closed, assigned to nobody

[2021-03-21 19:04] ANSHIKA1806 commented on #99
@SHITIZ-AGGARWAL
Thanks for responding , I want to add some more  attractive images on README file to make it look better.
I also want to add some more elements  and modify existing elements like
.Introduction - the project's aim
.Technologies
.Launch
.Table of contents
.Illustrations
.Scope of functionalities
.Examples of use
.Project status

[2021-03-22 04:39] btanisha commented on #59
@awantika10 yash and i are working on the design. It's nearly completed.

[2021-03-22 06:17] VishalPatil18 commented on #58
So sorry @awantika10, I made the changes that day itself but forgot to update you.
These are the updated frames:

![Login Screen](https://user-images.githubusercontent.com/62737267/111947866-375e7780-8b04-11eb-97ed-022b7393539a.png)
![Main Menu](https://user-images.githubusercontent.com/62737267/111947874-3c232b80-8b04-11eb-8a17-a220e6179962.png)
![My Usage](https://user-images.githubusercontent.c

[2021-03-22 06:55] vaishnavig20 commented on #60
Thank you! It would be really great if u could check the link
 https://www.figma.com/file/i1h2s9bpwHOE3zEss0KoK6/startup?node-id=0%3A1
The  above link has the design we are working on

[2021-03-22 06:57] awantika10 commented on #99
Okay sure go ahead

[2021-03-22 06:59] awantika10 commented on #93
Please collaborate with @Bhawna147

[2021-03-22 07:00] awantika10 commented on #92
@ishika261 @Shweta200126 Please do collaborate

[2021-03-22 07:02] awantika10 commented on #91
Hey! Ping me up in discord. Need to make some changes. Overall looks good :)

[2021-03-22 07:04] awantika10 commented on #84
@garvitraj @deeptea22 Ping me up in discord

[2021-03-22 07:08] awantika10 commented on #74
@jhasuraj01 by 3D animation we mean to say, Animations made using blender, unity, echoAR etc.

[2021-03-22 07:09] jhasuraj01 commented on #74
Okay 👍

[2021-03-22 07:14] awantika10 commented on #55
@arnab031 Design looks good:))) couple of changes. The white color which you have used for the cryptocurrency dashboard looks better than the rest of the screen background. Change all the screen background to white. Also, news screen can be improved. Rest looks good. After doing the above changes, you can make the PR.

[2021-03-22 07:40] Chadha93 commented on #60
The template looks great!
what you can do is:-
1. remove the outer stroke(or border) from every template
2. make text and buttons a little small
3. even the typography
4. reduce the size of icons and can refer to some more SVG from icons8.com

[2021-03-22 08:52] aanya-trehan commented on #60
Thank you for the feedback! We will work on this and get back to you

[2021-03-22 09:05] srishtij2000 commented on #91
Will submit it by the end of the day

[2021-03-22 10:24] arnab031 commented on #55
I have added white background in all frame. Here is the updated link - https://www.figma.com/file/McWNGrm07PTJdPHjfZTPuP/Crypto-App-Design?node-id=0%3A1 @awantika10

[2021-03-22 16:46] weebo-ary opened #102 "Feat: Logo_for_Desgen"
**What is your feature request related to ?**

- [x] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**

Make a logo for Desgen website which should be :

1. Attractive.
2. Colorful.
3. Related to our Theme.

**For any Doubts regarding this issue you can ask in Discord Server !!**

[2021-03-22 16:49] Avnish5 commented on #102
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 16:49] Avnish5 commented on #94
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 17:02] weebo-ary commented on #94
@Avnish5 You can start the work I have assigned you....

[2021-03-22 17:04] weebo-ary commented on #102
Do you have any prior knowledge regarding Logo Making ?? @Avnish5

[2021-03-22 17:11] SKV-programmer commented on #55
I am designing my own design

[2021-03-22 17:21] Avnish5 commented on #94
@weebo-ary Thanku sir to assigning it to me.

[2021-03-22 17:23] Avnish5 commented on #102
No sir but i have creative mind.So i will try my best to create the logo.

[2021-03-22 17:24] awantika10 commented on #94
@Avnish5  This issue is open to all, hence no assignment required

[2021-03-22 17:25] Avnish5 commented on #94
@awantika10 okay mam.

[2021-03-22 17:29] weebo-ary commented on #102
This is open for all you can start your work......

[2021-03-22 19:43] SKV-programmer commented on #93
I want to collab with @Bhawna147

[2021-03-23 00:54] sowmiyeh commented on #94
Wanted to design a website for Desgen.

[2021-03-23 03:44] kunal299 commented on #1
@awantika10 We both have done a little bit of update. We will complete it asap.
![image](https://user-images.githubusercontent.com/71486434/112302186-cd3f0180-8cc0-11eb-99d7-36e5a1742bec.png)

[2021-03-23 06:25] ambivert-sam commented on #102
Hey! @weebo-ary I want to contribute on this , will you please assign it to me?

[2021-03-23 06:34] ambivert-sam commented on #35
Hey ! I'm participant of GSSOC'21 I want to contribute on this , can you please assign it to me ? @SHITIZ-AGGARWAL

[2021-03-23 08:16] unshDee commented on #102
Can the logo have some kind of animation in it??

[2021-03-23 09:41] ASLManasa commented on #56
@awantika10  mam, updated the ideas.md file .

[2021-03-23 15:20] manognyaa commented on #85
@awantika10 @SHITIZ-AGGARWAL
Hello,

I have completed the workout ui design, hope you guys will like it. Please review it and let me know if any changes needed am happy to accept it .

'FIGMA' :https://www.figma.com/proto/QPnTWbbYwBWZ3pdVYS0y1g/gssoc-21?node-id=22%3A218&viewport=-561%2C418%2C0.9755308628082275&scaling=scale-down

[2021-03-23 19:01] ayu222220 commented on #102
Cann I work on the design. I have asked you on the discord regarding this. From GSSOC'21. Would love to work on it. Can you assign me?

[2021-03-24 06:24] SHITIZ-AGGARWAL commented on #102
@ambivert-sam @ayu222220 No need of getting assigned . You can start working on the issue, after your work is complete show your logo in the comments

[2021-03-24 06:26] SHITIZ-AGGARWAL commented on #102
@unshDee We have to use this logo for various platforms so I don't think animation will be feasible

[2021-03-24 06:27] SHITIZ-AGGARWAL commented on #99
@ANSHIKA1806 any updates on you work ?

[2021-03-24 11:37] weebo-ary commented on #94
You can go ahead with this !!

[2021-03-24 12:22] awantika10 commented on #94
Sure go ahead

[2021-03-25 05:22] ANSHIKA1806 commented on #99
@SHITIZ-AGGARWAL
yes, i had made the pull request , please check it and suggest for improvement or accept the pull request.

[2021-03-25 06:30] vaishnavig20 commented on #60
https://www.figma.com/file/i1h2s9bpwHOE3zEss0KoK6/startup?node-id=0%3A1
Please look into the design as we have made the few changes suggested and have also done prototyping for the same.
@awantika10 @SHITIZ-AGGARWAL

[2021-03-25 07:25] kunal299 commented on #74
@awantika10 @SHITIZ-AGGARWAL I have  made a corona virus model in blender. Will it be included?

![image](https://user-images.githubusercontent.com/71486434/112433245-fb2b5100-8d67-11eb-8079-588aa73647d5.png)

[2021-03-25 07:39] SHITIZ-AGGARWAL commented on #99
@ANSHIKA1806 Thank-you for your contribution . Closing this issue now

[2021-03-25 07:39] #99 closed, assigned to ANSHIKA1806

[2021-03-25 07:55] ANSHIKA1806 commented on #99
@SHITIZ-AGGARWAL Thank you so much sir

[2021-03-25 11:04] jhasuraj01 commented on #94
Website Design Submission

Name :  Suraj Jha
Design Link :  https://www.figma.com/file/7r9WAQKLy5HXc0PdMvfi1K/Desgen-Website?node-id=59%3A1008
Discord username : Suraj Jha#7035

[2021-03-25 11:09] jhasuraj01 commented on #94
@SHITIZ-AGGARWAL @awantika10 here is my submission (it's not complete due to time constraints)

[2021-03-25 11:42] Shubhrima commented on #102
![desgen](https://user-images.githubusercontent.com/68013183/112466808-435c6a80-8d8c-11eb-9042-f72092a74550.jpg)

can someone please review this!?

[2021-03-25 14:32] arnab031 commented on #55
Can I make my PR now? @awantika10

[2021-03-25 15:00] Chadha93 commented on #94
Name: Gaurav Chadha
Design Link:  https://www.figma.com/file/ZOqO0LwnZsfcYEQP7dcKp9/website-ui-desgen?node-id=2%3A33
Discord username : Gaurav Chadha(P)#7374

[2021-03-25 15:48] jhasuraj01 commented on #102
My Logo Submission:

![image](https://user-images.githubusercontent.com/44930179/112501771-85e36e80-8daf-11eb-8f6a-a03b1e8cc1e5.png)

[2021-03-25 15:54] vaibhavpathak999 commented on #94
Name: Vaibhav Pathak
Design Link:  Adobe XD file
Discord username: Vaibhav(P)#9231

XD file format is not supported in the comments. So I am attaching my png and I am sending my Adobe XD
![Web 1920 – 2](https://user-images.githubusercontent.com/51280899/112502146-d5299f00-8daf-11eb-822f-6b193f44e1b9.png)
![Web 1920 – 3](https://user-images.githubusercontent.com/51280899/112502202-e2468e00-8daf-11e

[2021-03-25 16:33] ishu184 commented on #56
https://www.figma.com/file/l7aJFjfTvmCmgS57nM7IC3/competative-programming-Copy?node-id=0%3A1
@awantika10 @SHITIZ-AGGARWAL please  examine and let me know the improvements and changes

[2021-03-25 16:41] sowmiyeh commented on #94
Website Design Submission

Name : Sowmiya V
Design Link : https://www.figma.com/file/ilZao1jeIbY3zh9Ey79g32/Desgen-website?node-id=4%3A14
Prototype link : https://www.figma.com/file/ilZao1jeIbY3zh9Ey79g32/Desgen-website?node-id=29%3A0
Discord username : Sowmiya V#1169

[2021-03-25 16:53] sowmiyeh commented on #102
###  Logo Submission
Name : Sowmiya V
Discord name :  Sowmiya V#1169

![Desgen Logo](https://user-images.githubusercontent.com/74345706/112511739-b67bd600-8db8-11eb-99c3-50c98f26fa1e.png)

[2021-03-25 16:55] SHITIZ-AGGARWAL commented on #102
@sowmiya-venkatesan also add the previous logo you made , the one with different colour scheme

[2021-03-25 16:57] sowmiya-venkatesan commented on #102
![Desgen website (1)](https://user-images.githubusercontent.com/74345706/112512345-4caffc00-8db9-11eb-9b3b-a7f749386c43.png)

[2021-03-25 16:59] sowmiya-venkatesan commented on #102
![Uploading Desgen website (2).png…]()

[2021-03-25 17:00] sowmiyeh commented on #102
![Desgen website (2)](https://user-images.githubusercontent.com/74345706/112512807-b4fedd80-8db9-11eb-86f8-2667b469ba2e.png)

[2021-03-25 17:01] Bhawna147 commented on #102
![4600_Gallery.jpg](https://user-images.githubusercontent.com/79100530/112512861-c647ea00-8db9-11eb-84d5-157b49424fd4.jpg)

My logo design
Name - Bhawna khatri
Discord I'd - Bhawna#9241

[2021-03-25 17:07] Bhawna147 commented on #94
Website design
Name - Bhawna khatri
Discord I'd - Bhawna#9241
Link - https://www.figma.com/file/YYFxbDf4Yrp4Z4EY7oqJKw/desgen-web-gssoc?node-id=0%3A1

[2021-03-25 17:53] ambivert-sam commented on #102
hey @SHITIZ-AGGARWAL @weebo-ary please review it

![brand_logo](https://user-images.githubusercontent.com/74984661/112519684-9d772300-8dc0-11eb-982c-7eba073b1dc0.png)

Desgen - logo
Name - Samruddhi Wasu
Discord - Samruddhi(P) #4035

[2021-03-25 20:34] Bhawna147 commented on #94
@awantika10 i have made some changes in my site can you please review it also as you said  some of its  element can be used in main website, so can i make a PR?

[2021-03-26 04:06] vaibhavpathak999 commented on #102
Name: Vaibhav Pathak
Discord: Vaibhav(P)#9231

![Desgen Logo D New](https://user-images.githubusercontent.com/51280899/112575627-ac88c000-8e16-11eb-93a8-cac15a5b9018.png)

[2021-03-26 06:27] deepti262002 commented on #102
![Medium Violet Square Real Estate Logo](https://user-images.githubusercontent.com/79099303/112591516-78b79580-8e2a-11eb-8b11-c66a974f7ab8.png)

[2021-03-26 09:18] ayu222220 commented on #102
Name: Ayushi Singh

![WhatsApp Image 2021-03-24 at 2 16 57 PM (1)](https://user-images.githubusercontent.com/65357585/112610037-43b73d00-8e42-11eb-8116-b200ec640c76.jpg)

[2021-03-26 09:19] ayu222220 commented on #102
Name: Ayushi Singh

![DESGEN](https://user-images.githubusercontent.com/65357585/112610193-6e08fa80-8e42-11eb-82ef-5968252598b1.png)

[2021-03-26 10:29] aditisneh commented on #92
Hey @awantika10 , can I collab with @Shweta200126 @ishika261. Would love to work.

[2021-03-26 12:55] Prathana1 commented on #102
hey, can i contribute on this

[2021-03-26 13:16] Prathana1 commented on #102
![desgen jpeg](https://user-images.githubusercontent.com/66274793/112636758-85a4ab00-8e63-11eb-9caa-069ec9d9a58a.jpg)

[2021-03-26 13:47] SAHU-01 commented on #102
![image](https://user-images.githubusercontent.com/71656941/112640883-ce5e6300-8e67-11eb-965f-7b7b5388ec52.png)

[2021-03-26 14:28] ANSHIKA1806 commented on #102
![logo_desgen](https://user-images.githubusercontent.com/71966377/112643611-8db41900-8e6a-11eb-9da2-dcef60c367d7.jpeg)
@SHITIZ-AGGARWAL @ayu222220 @weebo-ary @ShauryaBhandari  I am Anshika, a GSSoC participant and I had contributed in this project previously on README file. I would love to contribute in this issue also. Please review my logo and let know if anything better you expect.

[2021-03-26 14:49] muthuannamalai12 opened #107 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 20:47] SHITIZ-AGGARWAL commented on #1
@kunal299 you can also try different colours

[2021-03-27 04:05] geniusbharti commented on #54
@SHITIZ-AGGARWAL  and @awantika10  I have attached link for my designs, Could you please review and suggest me any changes needed and also color schemes.
I have made these designs using neumorphism.
https://www.figma.com/file/AseJqXK2JeeOHaVD93KsjX/Gssoc-21-Emergency-Traffic-Clearing-App?node-id=1%3A3

[2021-03-27 06:53] aman339 commented on #102
Please Assign me this issue @SHITIZ-AGGARWAL @weebo-ary @ShauryaBhandari . I want to contribute on this issue. its my first issue in GSSoC@21 where i want to add my contribution in this .

[2021-03-27 07:29] vineetsingh0809 opened #108 "Enhancement the UI of the main website [GSSoC'21]"
## Expected Behavior

I went through the main website and I felt that I can enhance the UI of the website. By this, it will look much better.

## Actual Behavior

I want to change some colors of the website so it will look nicer. And want to add some additional features in the buttons and posted posts.

So could you assign this issue to me? I had already cloned this on my local system,
Thank You

[2021-03-27 07:49] Anushka-Rajvanshi commented on #93
We have made the design for adoption app. Please review it and let us know if it requires any changes. @awantika10
https://www.figma.com/file/WBQi8Le1mkfjHLpt8Yzonf/find-your-pet-desgen-Gssoc?node-id=0%3A1

[2021-03-27 07:59] aman339 commented on #102
Desgen Logo
Name: Aman Kumar Choudhary
Discord: Aman Kumar Choudhary(P)#4888
@SHITIZ-AGGARWAL @weebo-ary @ShauryaBhandari  I created this logo please review it and let me know if i can do some changes in this.
![esgen (1)](https://user-images.githubusercontent.com/66405145/112714442-67d95380-8f00-11eb-94b3-a2d9c2f1e6c5.png)

[2021-03-27 08:52] vaishnavig20 commented on #60
Please look into this and let us know

[2021-03-27 11:33] kunal299 commented on #74
@awantika10 @SHITIZ-AGGARWAL Can I make a pr?

[2021-03-27 22:35] SHITIZ-AGGARWAL commented on #108
The website is not made yet, you saw the dribble profile. We will be raising issues for website development soon you can contribute then . Closing the issue for now

[2021-03-27 22:35] #108 closed, assigned to nobody

[2021-03-27 22:40] SHITIZ-AGGARWAL commented on #74
@kunal299 since it is a level 3 issue , we expect a certain number of illustrations to be submitted. You can try other illus like 3d masks , gloves, lab coats etc related to corona virus along with this illustration. Also please add colours to this 😊.

[2021-03-28 02:53] garima010303 commented on #85
Just one more day, it's about to complete. I'll submit it by tomorrow for sure.

[2021-03-28 06:03] rakupcode commented on #102
![desgen Logo](https://user-images.githubusercontent.com/79015142/112743887-ccf08000-8fb8-11eb-87ee-ab69c0be2890.png)
Did some fun in paint 3D.
I am a novice in logo making.

[2021-03-28 08:20] aditi1403 commented on #94
Name: Aditi Yadav
Design link: https://www.figma.com/proto/t83EYpNaYZY7GCdtoXFx6O/Desgen?node-id=25%3A0&scaling=min-zoom&page-id=0%3A1
Discord: Aditi Yadav (P)#8862

[2021-03-28 17:43] subhasmitapradhan commented on #90
it would be great if I could be of any help in this. @vaishnavig20 can I help you in this ? 2brains working together may be a bit better I guess.

[2021-03-28 17:55] subhasmitapradhan commented on #74
can I still contribute in this?

[2021-03-28 20:59] SHITIZ-AGGARWAL commented on #74
@subhasmitapradhan  yes

[2021-03-29 11:23] VishalPatil18 commented on #58
@SHITIZ-AGGARWAL @awantika10 if you can please review once ASAP.
Thanks!

[2021-03-29 14:10] Jatinchourasia commented on #102
![Frame 3](https://user-images.githubusercontent.com/69300666/112849363-d7b12080-905d-11eb-8431-efb2666e8da2.jpg)
name: jatin chourasia
discord: Jatin(P)#0047

[2021-03-30 03:53] yjaiswal05 commented on #59
Hello @SHITIZ-AGGARWAL  @awantika10  .I have completed the desired product app design with @btanisha .Please review and let me know the changes needed.
Figma:https://www.figma.com/file/3qCp54rOadvWHWcnMPTFHd/Trova?node-id=0%3A1

[2021-03-30 05:53] deeptea22 commented on #84
hey @SHITIZ-AGGARWAL @weebo-ary @awantika10  Please review my design and let me know.
https://www.figma.com/file/XsiAbwGmeozKOJQ6my4G4X/Tutoring-App?node-id=0%3A1

[2021-03-30 07:47] dheerajd5 commented on #107
Hey, can you assign me this issue?

[2021-03-30 21:44] garima010303 commented on #85
I've completed. Sorry for the delay. Should I've to create a pull request? @awantika10 @SHITIZ-AGGARWAL

[2021-03-31 04:09] #107 closed, assigned to dheerajd5

[2021-03-31 04:14] #55 closed, assigned to arnab031

[2021-03-31 04:24] awantika10 commented on #93
@Anushka-Rajvanshi @Bhawna147  Kindly improve these two mockups and you can make the PR

![githunjkenj](https://user-images.githubusercontent.com/71998138/113090231-f1da3280-9206-11eb-8b8c-42e46b368956.PNG)

[2021-03-31 04:25] awantika10 commented on #92
@ishika261 @Shweta200126 Please post your design here

[2021-04-01 11:46] aditisneh commented on #92
@awantika10 can I work on this if @ishika261 @Shweta200126 aren't active

[2021-04-01 15:44] Chadha93 commented on #94
@awantika10 @SHITIZ-AGGARWAL @weebo-ary  Also add gssoc21 tag to this issue

[2021-04-02 04:29] subhasmitapradhan commented on #74
Here is something I created using blender with concept of SAVING THE PLANTS AND TREES. Can I make a PR for it ?

![image](https://user-images.githubusercontent.com/78353431/113380513-4a0d5380-9331-11eb-8481-91b59d11bec5.png)

[2021-04-02 05:09] Shweta200126 commented on #92
Hi everyone, I'll start working on this issue starting today. I had my end sem exams going on. If u guys have made some progress, we should definitely share about it.

[2021-04-02 05:25] Shweta200126 commented on #92
I'm a beginner at this but I want to make this look good, so I'm gonna invest my time in this user research, design. Probably giving the next three days in user research and then taking the time to design. What do you guys think?

[2021-04-02 06:24] subhasmitapradhan commented on #74
Here is something I worked on with the concept "SAVE THE TREES AND PLANTS".
![2](https://user-images.githubusercontent.com/78353431/113387585-703aef80-9341-11eb-8827-f2afd3c60e26.png)

[2021-04-02 06:41] subhasmitapradhan commented on #74
please let me know ,if it needs some changes or can I make a PR?

[2021-04-03 08:17] hariramjp777 commented on #84
Hi, I'd like to design a UI for tutor finding application. Please assign this to me. @awantika10

My Idea:

* Home page which contains navbar, hero section, reviews about the app and social links
* Sign in and Sign up page for tutors and students
* Logged In state for students
       - list of tutors as cards.
       - If click a tutor card, he'll be taken to a page showing tutor profile and revie

[2021-04-03 13:09] SHITIZ-AGGARWAL commented on #84
@hariramjp777 this issue is already assigned

[2021-04-03 13:21] SHITIZ-AGGARWAL commented on #74
@subhasmitapradhan please make more illustrations as mentioned in the description. You can either change the colour or remove the background in this one

[2021-04-03 14:08] subhasmitapradhan commented on #74
Ok..so as per the description I have to make minimum 7 illustations. So do i have to add more elements to the above illustation or make 6 more illustationa like the above one?
And does all the illustrations need to be on same topic?

[2021-04-04 10:13] Vishnurr2k01 commented on #102
please assign me to this project.I have created a logo

[2021-04-04 10:13] Vishnurr2k01 commented on #102
Please assign this project to me.I have created one

[2021-04-04 10:14] Vishnurr2k01 commented on #102
Please Assign me this issue. I have created a logo.

[2021-04-04 10:21] Vishnurr2k01 commented on #102
![DESGEN LOGO](https://user-images.githubusercontent.com/72376269/113505586-5d046b80-955d-11eb-8230-7ea29af19df2.jpg)
name : Vishnu R Potti
discord : vishnurr#1245

[2021-04-04 19:36] kunal299 commented on #94
Name : Kunal Mali
Design Link :  https://www.figma.com/file/udA9MwccRmjVVx06X8Fsth/Desgen-Website-Design?node-id=0%3A1
Discord username : "Kunal Mali(P)#9230"

[2021-04-04 19:38] kunal299 commented on #94
@SHITIZ-AGGARWAL @awantika10 Plz review this. If any changes required tell me.

[2021-04-05 16:15] srishtij2000 commented on #92
Can I work on this issue?

[2021-04-05 16:16] srishtij2000 commented on #89
Can I work on this issue?

[2021-04-06 11:56] kunal299 commented on #94
@SHITIZ-AGGARWAL @awantika10 Is this fine?

[2021-04-07 00:51] shreya-gb commented on #90
@subhasmitapradhan I could work with you!

[2021-04-09 14:54] Ritika539 opened #114 "Want to add hover effect in the website."
**What is your feature request related to ?**

- [x] Desgen Website
- [ ] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
With the help of CSS, I want to add a hover effect in the website. This effect will make the website look good.

[2021-04-10 13:32] SHITIZ-AGGARWAL commented on #114
@Ritika539 the website is not ready yet, the one which you are referring is our dribble profile.

[2021-04-10 13:32] #114 closed, assigned to nobody

[2021-04-10 13:54] SHITIZ-AGGARWAL commented on #94
@kunal299 @aditi1403 @Bhawna147 @sowmiya-venkatesan @vaibhavpathak999 you all can submit your pull requests

[2021-04-10 14:10] rohan-kulkarni-25 commented on #102
Why is D included inside if we are getting BIG D

[2021-04-10 14:11] rohan-kulkarni-25 commented on #102
@SHITIZ-AGGARWAL Is this still open ? I will like to work on it !

[2021-04-10 14:12] rohan-kulkarni-25 commented on #94
@SHITIZ-AGGARWAL I will like to work on code section Please let me know when it starts

[2021-04-10 16:16] ambivert-sam commented on #102
![Desgen 1](https://user-images.githubusercontent.com/74984661/114276826-fe039280-9a45-11eb-836a-a9f64d88a9c9.png)
![Desgen 2](https://user-images.githubusercontent.com/74984661/114276833-03f97380-9a46-11eb-90fd-07b5ce8487fe.png)

I came up with two new design @SHITIZ-AGGARWAL @weebo-ary @ayu222220 please review it

Desgen - logo
Name - Samruddhi Wasu
Discord - Samruddhi(P) #4035

[2021-04-10 16:20] ambivert-sam commented on #102
![White with Colorful Triangles Internet Logo](https://user-images.githubusercontent.com/74984661/114276942-8e41d780-9a46-11eb-99ab-14924dace2a0.png)

![Desgen 2](https://user-images.githubusercontent.com/74984661/114276950-94d04f00-9a46-11eb-9702-fcda518eddfc.png)

I came up with two new design @SHITIZ-AGGARWAL @ayu222220  @weebo-ary please review it

Desgen - logo
Name - Samruddhi Wasu
Discord -

[2021-04-12 11:29] Bhawna147 commented on #74
@SHITIZ-AGGARWAL @awantika10  I have make some 3D illustrations please let me know if these type of illustrations are accepted or not if yes  can I work on more such designs ??

![Screenshot_20210412-164900_Prisma3D.jpg](https://user-images.githubusercontent.com/79100530/114387761-72f2db80-9bb0-11eb-8381-005c062faf28.jpg)![Screenshot_20210412-165104_Prisma3D.jpg](https://user-images.githubusercont

[2021-04-12 12:38] #94 closed, assigned to nobody

[2021-04-15 06:31] ASLManasa commented on #56
@awantika10 @SHITIZ-AGGARWAL @ishu184    we have completed our designing kindly merge it .
link :https://www.figma.com/file/6THXgipQE7vgUxd2azueIT/competative-programming?node-id=0%3A1
Thank you

[2021-04-15 06:37] SHITIZ-AGGARWAL commented on #56
@ASLManasa and @ishu184 you both can create a pull request , one can add the html file and the other person can add the Pngs or you both can divide the designs half-half

[2021-04-15 07:07] ASLManasa commented on #56
@SHITIZ-AGGARWAL ok sir

[2021-04-15 16:10] ShrutiOmer opened #123 "Feat: Add social apps to left of the screen"
**What is your feature request related to ?**

- [x] Desgen Website
- [ ] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request ?
Instead of having social apps icon in footer, we can add them to left of the website. They will scale out when user hover

Please assign this issue to me.

[2021-04-15 16:21] ShrutiOmer opened #124 "Bug: Small typo error in feature issue template"
## Expected Behavior
"Description" is spelled as "Describtion"

[2021-04-16 07:24] SHITIZ-AGGARWAL commented on #123
@ShrutiOmer the one which you are talking about is our dribbble profile. The website is under development

[2021-04-16 07:25] #123 closed, assigned to nobody

[2021-04-18 09:38] SHITIZ-AGGARWAL commented on #124
@ShrutiOmer You can go ahead , please check  README.md and CONTRIBUTING.md  also and correct them

[2021-04-19 07:01] anhushree opened #127 "Feat: Customize you Smoothie App"
**What is your feature request related to ?**

- [ ] Desgen Website
- [x] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request?
A Smoothie App named Smoogles allows the customer to order any smoothie that they want from an existing list or customize and make their own smoothie.
Uses latest design tech like Glassmorphism, Ne

[2021-04-19 07:03] anhushree commented on #127
@awantika10 @SHITIZ-AGGARWAL I would like to work on this issue as a GSSoC'21 participant. Kindly assign, Thank You.

[2021-04-19 14:34] SHITIZ-AGGARWAL commented on #127
@anhushree We are not taking new designs idea right now. We want to focus on current ideas first. After finishing these ideas you can raise this issue.

[2021-04-19 14:34] SHITIZ-AGGARWAL commented on #124
@ShrutiOmer Please give an update regarding this

[2021-04-19 15:01] #124 closed, assigned to ShrutiOmer

[2021-04-19 15:45] SHITIZ-AGGARWAL commented on #102
@vaibhavpathak999 @ambivert-sam @sowmiya-venkatesan @aman339 @rakup444 you all can create a PR for this issue. Add all your logos in the [Desgen_Logo](https://github.com/awantika10/Desgen/tree/gssoc/Designs/Desgen_Logo) folder (.png or .svg only) and keep your name as the file name.
For multiple logos you can add like
name_1.svg
name_2.svg

[2021-04-19 15:53] #127 closed, assigned to nobody

[2021-04-19 16:29] SHITIZ-AGGARWAL opened #129 "Feat: Case Study For Desgen Community Website"
**What is your feature request related to ?**

- [x] Desgen Website
- [x] Designing
- [x] Documentation

**Description**

We are thinking of making Desgen a community platform for all the designers.
- Designers can create an account and post their designs
- Features for community talks and meetings
- Discussion forums
- Hiring and freelance

These are some basic features. Research and explore more

[2021-04-19 16:45] subhasmitapradhan commented on #129
I would like to work on this. Being a frequenter of bihance and dribble I have basic idea what a user needs in the site and what could make it better and unique.

[2021-04-19 16:50] ASLManasa commented on #129
I am a gssoc'21 participant and I would like to work on this. Thank you.

[2021-04-19 16:59] Ritika539 commented on #129
Hey @SHITIZ-AGGARWAL ,
I would like to work on this issue as a GSSoC'21 participant under the guidance of the mentor.

[2021-04-19 16:59] anhushree commented on #129
I would like to work on this issue as a GSSoC'21 partcipant.

[2021-04-19 17:16] SHITIZ-AGGARWAL commented on #129
@anhushree @Ritika539 @ASLManasa @subhasmitapradhan Share your thoughts for the platform [here](https://discord.com/channels/803551426009759745/821998203322630165). You can talk about
- New features which we can implement in our platform
- The problems people face on other similar platforms and how we can solve these problems in our platform
- How we can make our platform unique
- General problems

[2021-04-20 05:35] ambivert-sam commented on #102
okay

[2021-04-20 05:46] aman339 commented on #102
Okay sir🤗 work in progress

On Mon, 19 Apr 2021, 9:16 pm SHITIZ AGGARWAL, ***@***.***>
wrote:

[2021-04-20 06:02] rakupcode commented on #102
Sorry, I did not add the following:
Name: Raushan Kumar
Discord: Raushan Kumar#9085
And, I will make the PR.
Thank you.

[2021-04-20 06:28] SHITIZ-AGGARWAL commented on #102
No problem

[2021-04-20 07:08] vaibhavpathak999 commented on #129
Hey @SHITIZ-AGGARWAL,
I would like to contribute to this issue.

[2021-04-20 12:23] #102 closed, assigned to nobody

[2021-04-20 14:08] khareyash05 opened #134 "add contributing.md"
Hi I would like to create a file contributing.md and add the following -
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-20 16:02] SHITIZ-AGGARWAL commented on #134
@khareyash05 please go through the repo before making an issue. We already have CONTRIBUTING.md

[2021-04-20 16:02] #134 closed, assigned to nobody

[2021-04-20 19:55] sardonicankita commented on #129
Hi, can I be assigned to this issue?

[2021-04-21 05:13] #59 closed, assigned to btanisha, yjaiswal05

[2021-04-21 07:38] Bhawna147 commented on #93
@awantika10 this is our final design we have made all the changes. So can We make a PR now?
https://www.figma.com/file/WBQi8Le1mkfjHLpt8Yzonf/find-your-pet-desgen-Gssoc?node-id=0%3A1

[2021-04-21 07:41] SHITIZ-AGGARWAL commented on #93
@Bhawna147 yes! you can

[2021-04-21 08:01] SHITIZ-AGGARWAL commented on #93
@Bhawna147 @Anushka-Rajvanshi Read [Design submission](https://github.com/awantika10/Desgen/blob/gssoc/Contribution/CONTRIBUTING.md#design-submission) before making the pull request, if you have any doubt you can clear it on discord.

[2021-04-21 17:01] #54 closed, assigned to vaibhavpathak999, geniusbharti

[2021-04-22 04:07] aditisneh commented on #92
Hey, I want to work on this issue. It has been over a month, the assignees aren't active, So @awantika10 can you assign this to me :)

[2021-04-22 15:49] vermatanu commented on #74
is this issue still open?

[2021-04-23 10:43] #56 closed, assigned to ishu184, ASLManasa

[2021-04-24 12:00] SamikshaSankar opened #146 "Feat: Navbar should be sticky"
**What is your feature request related to ?**
- [ ] Designing

**Description**
What is your feature request ? - Navbar sohuld be sticky. When we scroll nav bar should be present at the top.

**Describe the solution you'd like**
By using HTML, CSS, JS we can make nav to sticky.

[2021-04-24 20:51] #93 closed, assigned to Anushka-Rajvanshi, Bhawna147

[2021-04-24 20:53] SHITIZ-AGGARWAL commented on #146
@SamikshaSankar
The website is not designed yet, you can contribute in the website after the design is ready

[2021-04-24 20:54] #146 closed, assigned to nobody

[2021-04-25 11:18] ishikajn8126 opened #148 "Improvement in UI of Desgen home page"
**What is your feature request related to ?**

- [x] Desgen Website
- [ ] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
- Changes in colors of some elements on home page
- Increasing the prominence of pink and white color combination.

**Describe the solution you'd like**

- Follow and Recent shots buttons will look similar to sign up button and

[2021-04-25 15:51] awantika10 commented on #148
Raise an issue when website design is completed

[2021-04-25 15:51] #148 closed, assigned to nobody

[2021-04-27 12:03] #60 closed, assigned to vaishnavig20, aanya-trehan

[2021-04-27 19:08] kanishkaa24 commented on #92
Hello! Can I work on this?

[2021-04-27 19:09] kanishkaa24 commented on #91
Hello! Can I work on this?

[2021-04-27 19:09] kanishkaa24 commented on #91
Hello! Can I work on this?

[2021-04-27 19:16] kanishkaa24 commented on #90
Hello! Can I work on this?

[2021-04-28 10:20] aditisneh commented on #92
@awantika10 do add the level tag if you reviewed the designs, will make a PR

[2021-04-28 19:03] #1 closed, assigned to vkassingh, kunal299

[2021-04-28 19:12] #33 closed, assigned to ishu184, VishalPatil18

[2021-04-28 19:14] #57 closed, assigned to encodeArnab

[2021-04-28 19:14] #58 closed, assigned to VishalPatil18

[2021-04-28 19:15] #61 closed, assigned to lavishabhambri, SubratYeeshu

[2021-04-28 19:15] #74 closed, assigned to nobody

[2021-04-28 19:17] #84 closed, assigned to deeptea22

[2021-04-28 19:22] SHITIZ-AGGARWAL commented on #85
@manognyaa The design looks good , please create a pull request asap.
@garima010303 We asked everyone to get their designs reviewed. If your design is ready please get it reviewed within 2 days or else this issue will be closed due to inactivity.

All the discussion is on discord

[2021-04-28 19:24] SHITIZ-AGGARWAL commented on #89
@vaibhavpathak999 @lavishabhambri If your design is ready, get it reviewed within 2 days or else this issue will be closed.

[2021-04-28 19:25] #91 closed, assigned to srishtij2000, sgautam2503

[2021-04-29 07:43] Ayushi7456 commented on #35
@SHITIZ-AGGARWAL The issue has been closed by you, please open it once as i have to upload the remaining files as part-2 for this particular issue.

[2021-04-30 09:49] Sukriti-sood opened #152 "Github Action Bot"
**What is your feature request related to ?**

- [ ] Desgen Website
- [ ] Designing
- [ ] Documentation
- [x] Github Workflow

Features of Github Action Bot:-

-  This GitHub bot will comment on Every New Issue Created.
-  This GitHub bot will comment on Every New PR Created.
-  This Github bot will comment on Every PR got merged.
-  And Will also tag user  with its username

[2021-05-01 08:57] #152 closed, assigned to nobody

[2021-05-01 09:46] #85 closed, assigned to garima010303, manognyaa

[2021-05-01 09:47] #89 closed, assigned to vaibhavpathak999, lavishabhambri

[2021-05-05 07:26] #90 closed, assigned to vaishnavig20

[2021-05-06 15:59] #92 closed, assigned to aditisneh

[2021-05-12 10:51] SHITIZ-AGGARWAL commented on #35
@Ayushi7456 Update ?

[2021-05-12 18:18] #35 closed, assigned to aanya-trehan, Ayushi7456

[2021-05-16 07:04] omrajsharma opened #160 "Want to contribute my Dating app UI Design to the project"
**What is your feature request related to ?**

- [
![dating-app-portfolio](https://user-images.githubusercontent.com/60071210/118388592-0cdff500-b643-11eb-897d-de6b48c57092.PNG)

] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you w

[2021-05-17 00:06] subhangi2731 commented on #129
@SHITIZ-AGGARWAL can u please assign this issue to me

[2021-05-17 00:08] subhangi2731 opened #161 "Change the navbar to sidebar or navigation drawer"
I will change the navbar to sidebar and make it more enhancing

[2021-05-17 00:09] subhangi2731 commented on #161
@awantika10 @SHITIZ-AGGARWAL please assign this issue to me

[2021-05-17 12:45] subhangi2731 commented on #161
@awantika10 @SHITIZ-AGGARWAL please assign me so that i can start working

[2021-05-17 12:54] SHITIZ-AGGARWAL commented on #161
@subhangi2731 The one which you are referring is our dribbble profile. We are working on building our website.

[2021-05-19 15:24] swathika1 opened #162 "online shopping app UI design (gssoc21)"
**What is your feature request related to ?**

- [x] Desgen Website
- [x] New design
- [x] Gssoc21

**Description**
An eye catchy design for online shopping app that sells everyday needs and fashion apparel in figma.

[2021-05-19 17:56] #161 closed, assigned to nobody

[2021-05-23 13:31] ishitakapoor26 commented on #162
Hi @swathika1 can i work on this issue?

[2021-05-23 17:16] swathika1 commented on #162
Im waiting for @awantika10 to assign this issue to me.

[2021-05-26 06:45] #162 closed, assigned to nobody

[2021-05-26 06:45] #160 closed, assigned to nobody

[2021-05-26 14:40] swathika1 opened #166 "Medical Emergency/ Health app UI"
**What is your feature request related to ?**

- [x] Desgen Website
- [x] Designing
- [ ] Documentation

**Description**
An app UI related to good health and emergency situations which includes the following features:

- [x] Call ambulance with location sharing
- [x] view nearest hospitals and medical shops
- [x] General doctor/ specialist appointment booking
- [x] video call doctor
- [x] Chatbot

[2021-05-27 12:16] #129 closed, assigned to nobody

[2021-05-27 12:17] #166 closed, assigned to nobody

[2021-05-31 15:26] Anubhavdevv opened #169 "Want_to_add_design"
**What is your feature request related to ?**

- [ ] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
Want to add my design which I created through Adobe Photoshop

**Describe the solution you'd like**
Add a design to the repo

@awantika10 Please assign this issue to me

[2021-06-05 10:26] SHITIZ-AGGARWAL commented on #169
Please share the ss of design

[2021-06-05 10:37] SHITIZ-AGGARWAL opened #170 "Feat: Want to add your designs ?"
**This issue is related to**

- [ ] Desgen Website
- [x] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
If you want to contribute your designs in this project, first comment in the issue telling about
-  What particular design you want to contribute
-  What technologies you used/will be using while making this design
-  Description of the design

[2021-06-05 11:00] SHITIZ-AGGARWAL commented on #169
@anubhav201241 Check out #170

[2021-06-05 11:00] #169 closed, assigned to nobody

[2021-06-08 16:01] SamikshaSankar opened #171 "Feat: Zoom hover effect on Cards"
**What is your feature request related to ?**

- [x] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)
Add zoom effect on cards

@awantika10 please assign me

[2021-06-08 18:05] RakeshCharpe commented on #171
can I work on this issue?

[2021-06-09 14:33] supzi-del commented on #171
Please assign this to me under LGMSOC

[2021-06-09 16:42] aktamoli0910 commented on #171
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-10 08:54] SanjeevKumar22 opened #172 "Feat: Night MOde"
**What is your feature request related to ?**

- [] Desgen Website
- [x] Designing
- [ ] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
What is your feature request ? (A description of the feature. Write about the problem or idea you want to refer in this issue.)
DArk Mode
**Describe the solution you'd like**
A description of the solution you would suggest if an

[2021-06-10 09:23] jayant766 commented on #171
Please assign me this issue under LGMSOC'21

[2021-06-10 09:41] Devansh2000Shaw commented on #171
I would like to contribute on this under LGM SOC'21. Please assign me.

[2021-06-10 09:43] Devansh2000Shaw commented on #172
Please assign me this under LGM SOC'21. Thank you.

[2021-06-10 19:45] jwalapc commented on #171
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-10 19:45] prads46 commented on #171
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-11 12:31] Vedant-Jayesh-Oza commented on #170
@SHITIZ-AGGARWAL what kind of designs we can add ? Like do we have to add the jpeg or png format of design ?

[2021-06-16 19:26] ishitakapoor26 opened #173 "Feat: Add LGM-SOC'21 score card in readme.md"
**What is your feature request related to ?**

- [ ] Desgen Website
- [ ] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

*Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:27] ishitakapoor26 commented on #173
@awantika10 @SHITIZ-AGGARWAL pls assign me this issue.

[2021-06-16 19:29] ishitakapoor26 opened #174 "Feat: Add LGM-SOC'21 label in open source program section in readme.md"
Add LGM-SOC'21 label in open source program section in readme.md
**What is your feature request related to ?**

- [ ] Desgen Website
- [ ] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

[2021-06-16 19:29] ishitakapoor26 commented on #174
@awantika10 @SHITIZ-AGGARWAL pls assign this issue to me.

[2021-06-17 10:52] tjanhvi commented on #172
I would like to do this part. I will give a button having an indication to change the mode as change it to dark mode.
![image](https://user-images.githubusercontent.com/78703730/122383134-2e0c6c00-cf88-11eb-93b2-ac713d8c9987.png)
Like this !!!!!
I want to try this.......

[2021-06-17 15:30] SHITIZ-AGGARWAL commented on #170
@Vedant-Jayesh-Oza you have to add designs of applications or websites with unique ideas.
Before making a PR, get your designs reviewed on discord. After it gets reviewed you have to create a folder and put all the design screens in .png or .svg format

[2021-06-17 15:36] SHITIZ-AGGARWAL commented on #172
Please give a proper description for the issue. You can discuss more about this on the discord server with maintainers and then raise an issue

[2021-06-17 15:36] #172 closed, assigned to nobody

[2021-06-17 15:37] SHITIZ-AGGARWAL commented on #173
@ishitakapoor26 There is no need for a score card in the readme

[2021-06-17 15:37] #173 closed, assigned to nobody

[2021-06-17 15:39] Vedant-Jayesh-Oza commented on #170
@SHITIZ-AGGARWAL I have sent you the Idea in Slack DM is it OK?

[2021-06-17 17:12] Umesh-01 opened #175 "Feat: add more badges and move them to the top"
**What is your feature request related to ?**

- [ ] Desgen Website
- [ ] Designing
- [x] Documentation
- [ ] Others[please specify like testing, code etc]

**Description**
I think badges should be at the top of README.md file. Here (see the image below) they are not looking good.

![image](https://user-images.githubusercontent.com/83420185/122443370-261aef00-cfbd-11eb-8255-8021a6afc287.png)

**De

[2021-06-17 17:17] Umesh-01 commented on #175
@awantika10 Should I do these changes??

[2021-06-21 06:55] varshitha1707 commented on #171
Hey! I would like to work on this issue as well as add a slight colour change with the zoom effect on hover.
Please assign me this issue under LGMSOC'21

[2021-06-22 17:08] Umesh-01 commented on #175
@awantika10 Should I work on this issue??

[2021-06-25 07:22] aviral14112001 commented on #175
Assign me this task I would like to work on this under "LGM SoC 21"

[2021-06-28 07:36] #174 closed, assigned to ishitakapoor26

[2021-06-28 07:39] awantika10 commented on #175
Yeah you can

[2021-06-28 07:40] #171 closed, assigned to nobody

[2021-06-29 17:09] ROHAN842 opened #178 "Feat: Make scrollbar customizable and colorful"
**Description**
I would like to make the scrollbar colorful with help of animations.

Can I work on this issue ??

Could you please assign this issue to me under LGMSOC?

**Additional context**
![image](https://user-images.githubusercontent.com/61961107/123839372-abda5b00-d92a-11eb-8233-a9d9ed643205.png)

[2021-07-01 23:52] padmajabhol commented on #178
Interested. Can you assign this to me?

[2021-07-22 18:19] #175 closed, assigned to Umesh-01

[2021-10-20 10:50] #178 closed, assigned to nobody

[2021-10-20 10:51] #170 closed, assigned to nobody